org.opentravel/x2011B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_AirGetOfferRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.000" id="OTA2011B">
	<xs:include schemaLocation="OTA_AirAncillaryOffer.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_AirGetOfferRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Get Offer response message returns relevant offers that meet the search criteria.

Returned information includes:

» Pricing structure details—including exchange rates, currency overrides and accepted payment currency that apply to all offers unless override information is provided elsewhere in the message

» Priced offers—Priced offer information, including offer name and description, maximum and minimum offer quantity(s), service family, pricing details including redemption mile pricing, booking instructions, restrictions, penalties, multimedia, commissions and currency overrides

Developer Notes:
» This message may also include Warnings from business processing rules or Errors if the request did not succeed.
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message, but one in which warnings are generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceStructure" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Use" xml:lang="en">Offer pricing structure information (including exchange rates, currency overrides and accepted payment currency) that apply to all offers unless override information is provided within PricedOffer.</xs:documentation>
							<xs:documentation source="Developer Notes" xml:lang="en">This currency and exchange information applies to all offer results unless specifically overidden in the xxxxx element.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="TicketingCountryCode" type="ISO3166" use="optional">
								<xs:annotation>
									<xs:documentation source="Use" xml:lang="en">The country code where the ticket will be/ has been issued in ISO 3166 encoding.</xs:documentation>
									<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="TicketingCityCode" use="optional">
								<xs:annotation>
									<xs:documentation source="Use" xml:lang="en">The city or airport code where the ticket will be/ has been issued in IATA encoding.</xs:documentation>
									<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_IATA_Standards.php</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="UpperCaseAlphaNumericLength3to5"/>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="DisplayCurrency" type="AlphaLength3" use="optional">
								<xs:annotation>
									<xs:documentation source="Use" xml:lang="en">The display currency in ISO 4217 encoding.</xs:documentation>
									<xs:documentation source="Example" xml:lang="en">CAD = Canadian Dollar | USD = United States Dollar | EUR = Euro</xs:documentation>
									<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="PricingCurrency" type="AlphaLength3" use="optional">
								<xs:annotation>
									<xs:documentation source="Use" xml:lang="en">The pricing/filing currency in ISO 4217 encoding.</xs:documentation>
									<xs:documentation source="Example" xml:lang="en">CAD = Canadian Dollar | USD = United States Dollar | EUR = Euro</xs:documentation>
									<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
								<xs:annotation>
									<xs:documentation source="Use" xml:lang="en">The number of decimal places for the display and pricing currency(s).</xs:documentation>
									<xs:documentation source="Examples" xml:lang="en">USD 8500 with "2" Decimal Places represents $85.</xs:documentation>
									<xs:documentation source="References" xml:lang="en">http://www.iso.org/iso/support/faqs/faqs_widely_used_standards/widely_used_standards_other/currency_codes/currency_codes_list-1.htm</xs:documentation>
									<xs:documentation source="Definition" xml:lang="en">This is equivalent to the ISO 4217 standard "minor unit" and is typically used when the amount provided includes the minor unit of currency without a decimal point.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="ExchangeRateGroup"/>
							<xs:attribute name="BaseNUC_Amount" type="Money" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The base neutral unit of construction amount.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="PricedOffer" type="AirPricedOfferType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Use" xml:lang="en">Priced offer information, including offer name and description, service family, pricing details, booking instructions,  penalties, multimedia and currency overrides.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeatMap" type="SeatMapDetailsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="description" xml:lang="en">Seat map(s) containing the results of the request.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AirItineraryInfo" type="PricedItineraryType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A collection of all flight segments for the booking.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Traveler" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A choice between traveler quantities and age classification OR detailed traveler information.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice>
								<xs:element name="PassengerTypeQuantity" maxOccurs="10">
									<xs:annotation>
										<xs:documentation xml:lang="en">Number of travelers and their age classification if traveler details are not known or required for a specific type of offer request.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PassengerTypeQuantityType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="AirTraveler" maxOccurs="99">
									<xs:annotation>
										<xs:documentation xml:lang="en">Detailed information about the traveler, including gender, age, name, contact, loyalty and profile reference.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="AirTravelerType">
												<xs:attribute name="RPH" type="RPH_Type" use="optional">
													<xs:annotation>
														<xs:documentation source="Use" xml:lang="en">A unique ID for this traveler that may be referenced elsewhere in this schema to associate the traveler with other information.</xs:documentation>
														<xs:documentation source="Developer Notes" xml:lang="en">(Developer Notes) RPH references within this message: RequestCriterion/CheckedItemInfo/@TravelerRPH</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="IsLeadInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation source="Use" xml:lang="en">If true, indicates that this traveler is the lead traveler or main contact for the trip.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Error(s) that occurred during the processing of a message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OpenTravel Messages.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
</xs:schema>
