org.opentravel/x2011B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_DynamicPkgAvailRS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.000" id="OTA2011B">
	<xs:include schemaLocation="OTA_DynamicPkgCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_DynamicPkgAvailRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">The AvailPrice response message contains component-specific results for the desired search criteria.  This message brings the component-specific response messages together in one location so that partners can receive all required information in one response message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of Sale (POS) identifies the party or connection channel making the request.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:sequence>
						<xs:element name="Success" type="SuccessType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message. Returning an empty element of this type indicates success.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Warnings" type="WarningsType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message, but one in which warnings are generated.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SearchResults" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Contains the availability and pricing for each vacation component specified in the request.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AirResults" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">Details of available air inventory.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="en">A collection of available air inventory.</xs:documentation>
											</xs:annotation>
											<xs:complexContent>
												<xs:extension base="DynamicPkgResponseType">
													<xs:choice>
														<xs:element name="PricedItineraries" type="PricedItinerariesType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Container for priced itineraries.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="OriginDestinationInformation" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Information on the locations between which availability was requested.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="OriginDestinationInformationType">
																		<xs:sequence>
																			<xs:element name="OriginDestinationOptions">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">A container for origin destination option information.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="OriginDestinationOption" maxOccurs="999">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">Holds the collection of flight options for this origin-destination pair. There maybe limits imposed by individual supplier that are below the maximum occurrences for this element.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="FlightSegment" maxOccurs="8">
																										<xs:annotation>
																											<xs:documentation xml:lang="en">Details of the flight option for an origin destination pair.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:annotation>
																												<xs:documentation xml:lang="en"> Flight segment information returned for an availability request including ancillary information.</xs:documentation>
																											</xs:annotation>
																											<xs:complexContent>
																												<xs:extension base="FlightSegmentType">
																													<xs:sequence>
																														<xs:element name="TrafficRestrictionInfo" minOccurs="0" maxOccurs="99">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">Traffic restriction information for a specific flight.</xs:documentation>
																															</xs:annotation>
																															<xs:complexType>
																																<xs:complexContent>
																																	<xs:extension base="FreeTextType">
																																		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
																																			<xs:annotation>
																																				<xs:documentation xml:lang="en">The traffic restriction that applies to this flight segment. Refer to OpenTravel Code list TRC (Traffic Restriction Code).</xs:documentation>
																																			</xs:annotation>
																																		</xs:attribute>
																																	</xs:extension>
																																</xs:complexContent>
																															</xs:complexType>
																														</xs:element>
																														<xs:element name="Comment" type="FreeTextType" minOccurs="0" maxOccurs="10">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">Any special comments on the leg. eg. operated by  XX.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="MarketingCabin" type="MarketingCabinType" minOccurs="0" maxOccurs="9">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">The airline specific branding for cabins.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="BookingClassAvail" minOccurs="0" maxOccurs="99">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">Booking codes available to be sold for a particular flight segment.</xs:documentation>
																															</xs:annotation>
																															<xs:complexType>
																																<xs:attributeGroup ref="BookingClassAvailabilityGroup">
																																	<xs:annotation>
																																		<xs:documentation xml:lang="en">Holds booking class and available seta quantity.</xs:documentation>
																																	</xs:annotation>
																																</xs:attributeGroup>
																																<xs:attribute name="RPH" type="RPH_Type" use="optional">
																																	<xs:annotation>
																																		<xs:documentation xml:lang="en">RPH refers back to Marketing Cabin Type.</xs:documentation>
																																	</xs:annotation>
																																</xs:attribute>
																															</xs:complexType>
																														</xs:element>
																														<xs:element name="StopLocation" minOccurs="0" maxOccurs="9">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">A location where the flight is scheduled to stop en route to its destination for this flight segment.</xs:documentation>
																															</xs:annotation>
																															<xs:complexType>
																																<xs:attributeGroup ref="LocationGroup">
																																	<xs:annotation>
																																		<xs:documentation xml:lang="en">A location where the flight is scheduled to stop en route to its destination for this flight segment.</xs:documentation>
																																	</xs:annotation>
																																</xs:attributeGroup>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:attribute name="JourneyDuration" type="xs:duration" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">The duration of the flight from departure location to destination location.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attributeGroup ref="SmokingIndicatorGroup">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">Specifies if the flight is smoking or not.</xs:documentation>
																														</xs:annotation>
																													</xs:attributeGroup>
																													<xs:attribute name="OnTimeRate" type="Percentage" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">Specifies the Dept. of Transport on time rate of the  flight.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="Ticket" type="TicketType">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">Specifies if the flight is e-ticketable or not.</xs:documentation>
																															<xs:documentation xml:lang="en">
																																<LegacyDefaultValue>Paper</LegacyDefaultValue>
																															</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="ParticipationLevelCode" type="OTA_CodeType" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">To specify the level of participation by a vendor in another system. Refer to OpenTravel Code List 'Participation Level Code' (PLC).</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="GroundDuration" type="xs:duration" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">The duration of a ground stop.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="AccumulatedDuration" type="xs:duration" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">The total duration time of the flight. This is the combination of both JourneyDuration and GroundDuration.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="Distance" type="xs:nonNegativeInteger" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">Miles acquired per flight segment, usually used for earning of frequent flyer miles.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="CodeshareInd" type="xs:boolean" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">When true, this flight is a codeshare flight.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="FlifoInd" type="xs:boolean" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">When true, FLIFO information exists for this flight.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="DateChangeNbr" type="xs:string" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">When present, contains the number of days by which the flight's arrival date differs from its departure date (e.g., +1, -1).</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="SequenceNumber" type="Numeric1to999" use="optional">
																														<xs:annotation>
																															<xs:documentation xml:lang="en">The sequence number of this flight segment with respect to all flight segments returned in the response.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																												</xs:extension>
																											</xs:complexContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="SameAirportInd" type="xs:boolean" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">If true, the return departure must be from the same airport as the outbound arrival.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="RPH" type="RPH_Type" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Uniquely identifies this origin destination information.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
													</xs:choice>
													<xs:attribute name="ResponseType" type="AirComponentSearchType" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">the type of search (Roundtrip, Oneway, PriceFlights)</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="HotelResults" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">Details of available hotel inventory.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="en">A collection of available hotel inventory.</xs:documentation>
											</xs:annotation>
											<xs:complexContent>
												<xs:extension base="DynamicPkgResponseType">
													<xs:sequence>
														<xs:element name="RoomStays" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">A collection of room stays.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="RoomStay" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Details on the Room Stay including Guest Counts, Time Span of this Room Stay, and financial information related to the Room Stay, including Guarantee, Deposit and Payment and Cancellation Penalties.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="RoomStayType">
																					<xs:sequence>
																						<xs:element name="Reference" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">Information by which this availability quote can be later cross-referenced.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:complexContent>
																									<xs:extension base="UniqueID_Type">
																										<xs:attribute name="DateTime" type="xs:dateTime" use="optional">
																											<xs:annotation>
																												<xs:documentation xml:lang="en">The date and time at which this availability quote was made available.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																									</xs:extension>
																								</xs:complexContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="ServiceRPHs" type="ServiceRPHsType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">A container for the unique references to the services for the room stay.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="IsAlternate" type="xs:boolean" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Indicates the RoomStay is an alternate offer. Default=false.</xs:documentation>
																							<xs:documentation xml:lang="en">
																								<LegacyDefaultValue>false</LegacyDefaultValue>
																							</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="AvailabilityStatus" type="RateIndicatorType" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Used to specify an availability status at the room stay level for a property.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attributeGroup ref="ResponseTypeGroup">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Indicates the type of data to be returned, either a list of hotel records or a list of area (city/reference) codes.</xs:documentation>
																						</xs:annotation>
																					</xs:attributeGroup>
																					<xs:attribute name="RoomStayCandidateRPH" type="RPH_Type" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">A reference to a requested room stay candidate from the SearchCriteria.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="MoreDataEchoToken" type="StringLength1to128" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">The availability response returns the attribute if there is additional data that could not fit within the availability response. The text value should be echoed in the availability request to indicate where to begin the next block of availability data.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="InfoSource" type="InfoSourceType" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Used to specify the source of the data being exchanged as determined by trading partners.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="RPH" type="RPH_Type" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Identifies the room stay for use in the hotel stay.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="AvailableIndicator" type="xs:boolean" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">May be used as a simple true/false to indicate availability or used in conjunction with @AvailabilityStatus to indicate if restricted rate qualifications have been met e.g. Exclusive and Available (true) vs. Exclusive but not Available (false).</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:extension>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="MoreIndicator" type="StringLength1to128" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A text field used to indicate that there are additional rates that cannot fit in the availability response. The text returned should be meaningful in identifying where to begin the next block of data and sent in the availability request.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="ResponseType" type="HotelComponentSearchType">
														<xs:annotation>
															<xs:documentation xml:lang="en">The type of search (PropertyRateList, PropertyList, RoomList).</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="PackageOptionResults" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Details of available package option inventory.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="DynamicPkgResponseType">
													<xs:sequence>
														<xs:element name="PackageOptionGroup" type="PackageOptionGroupType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>a group of package options which are related to each other in some fashion.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="ResponseType" type="PackageOptionComponentSearchType">
														<xs:annotation>
															<xs:documentation>The type of search.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="CarResults" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Details of available rental car inventory.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="en">A collection of available rental car inventory.</xs:documentation>
											</xs:annotation>
											<xs:complexContent>
												<xs:extension base="DynamicPkgResponseType">
													<xs:sequence>
														<xs:element name="VehAvailRSCore" type="VehicleAvailRSCoreType">
															<xs:annotation>
																<xs:documentation xml:lang="en">Identifies the common, or core, information associated with the response poviding information on the availability of rental vehicles.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="ResponseType" type="CarComponentSearchType">
														<xs:annotation>
															<xs:documentation>The type of search.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DynamicPackage" type="DynamicPkgType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Contains the specific search criteria for each desired package component.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InclusionSets" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="InclusionSet" type="InclusionSetType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:element name="Errors" type="ErrorsType"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OpenTravel Messages.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
</xs:schema>
