org.opentravel/x2011B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_TourActivitySearchRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="3.000" id="OTA2011B">
	<xs:include schemaLocation="OTA_TourActivityCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_TourActivitySearchRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message allows a search for tours and/or activities matching specified criteria.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The point-of-sale data, contained in the POS element, communicates the information that allows the receiving system to identify the trading partner that is sending the request or the response message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcessingInformation" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Information that may directly impact how the receiving system processes the request message.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="MaxResponses" type="xs:positiveInteger" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">A positive integer value that indicates the maximum number of responses desired in the return.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="MoreDataEchoToken" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">The Tour/Activity search response message may return a value in this element if there is additional data available that is not contained in the response message. The text value should be echoed in this request to indicate where to begin the next block of data.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="LanguageCode" type="xs:language" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identification of the language used for any descriptive information.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="DisplayCurrency" type="ISO4217" use="optional">
							<xs:annotation>
								<xs:documentation source="Use" xml:lang="en">The requested display currency in ISO 4217 encoding.</xs:documentation>
								<xs:documentation source="Reference" xml:lang="en">(Reference): http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
								<xs:documentation source="More Info" xml:lang="en">(More Info): http://www.opentraveldevelopersnetwork.com/2011B_SchemaDoc/DisplayCurrency</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="PricingCurrency" type="ISO4217" use="optional">
							<xs:annotation>
								<xs:documentation source="Use" xml:lang="en">The requested pricing currency in ISO 4217 encoding.</xs:documentation>
								<xs:documentation source="Example" xml:lang="en">CAD = Canadian Dollar | USD = United States Dollar | EUR = Euro</xs:documentation>
								<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation source="Use" xml:lang="en">The ISO 4217 standard "minor unit" for the number of decimal places for a the display and pricing currency.</xs:documentation>
								<xs:documentation source="Developer Notes" xml:lang="en">The ISO 4217 standard "minor unit" is typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="AlternateAvailInd" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">If TRUE, tours and activities that do meet all specified criteria should be returned.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SearchCriteria">
					<xs:annotation>
						<xs:documentation xml:lang="en">Search criteria for tours and/or activities.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BasicInfo" type="TourActivityID_Type" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">The name and supplier/ trading partner unique IDs. Note, this level of information is typically only specified to search for the existence (validity) of a tour and/or activity.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CategoryTypePref" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">Category and type preferences.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityCategoryType">
											<xs:attributeGroup ref="PreferLevelGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to specify the preference level for this location.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustomerCounts" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the number of customers, optionally by customer type or group size.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityParticipantCategoryType">
											<xs:attribute name="MinGroupSize" type="xs:positiveInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The minimum quantity of participants in a group.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="MaxGroupSize" type="xs:positiveInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The maximum quantity of participants in a group.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="KnownGroupSize" type="xs:positiveInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The actual quantity of participants in a group.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="DateTimePref" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">The preferred start date/ time and allowable time window for the search. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StartDateWindow" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">The earliest and latest dates acceptable for the start date.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="TimeWindowGroup">
													<xs:annotation>
														<xs:documentation xml:lang="en">Identifies a date range.</xs:documentation>
													</xs:annotation>
												</xs:attributeGroup>
											</xs:complexType>
										</xs:element>
										<xs:element name="EndDateWindow" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">The earliest and latest dates acceptable for the end date.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="TimeWindowGroup">
													<xs:annotation>
														<xs:documentation xml:lang="en">Identifies a date range.</xs:documentation>
													</xs:annotation>
												</xs:attributeGroup>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Start" type="DateOrTimeOrDateTimeType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The starting value of the time span.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Duration" type="DurationType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The duration datatype represents a combination of year, month, day and time values representing a single duration of time, encoded as a single string.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="End" type="DateOrTimeOrDateTimeType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The ending value of the time span.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="DOW_PatternGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Used to indicate one or more start days which the search should include (e.g., search for Saturday events in June).</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="KeywordPref" minOccurs="0" maxOccurs="6">
								<xs:annotation>
									<xs:documentation xml:lang="en">Allows the inclusion or exclusion of keywords to be matched.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="StringLength1to255">
											<xs:attribute name="Type" type="StringLength1to32" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Describes the category of keywords being presented.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attributeGroup ref="PreferLevelGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to specify the preference level for this defined keyword.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="LocationPref" minOccurs="0" maxOccurs="9">
								<xs:annotation>
									<xs:documentation xml:lang="en">Up to 9 locations to be included in or excluded from the search.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityLocationType">
											<xs:attribute name="StateCodeList" type="ListOfStringLength1to8" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">One or more postal service standard codes or abbreviations for the state or province. An ISO 3166-2 Sub-division/State Code may be used.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attributeGroup ref="PreferLevelGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to specify the preference level for this location.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OtherPref" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Other preferences, including guide, spoken language and physically challenged accessibility.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SpokenLanguage" type="TourActivityLanguageType" minOccurs="0" maxOccurs="9">
											<xs:annotation>
												<xs:documentation xml:lang="en">A preferred spoken language by the guide and/or supplier staff, e.g. French and English.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AccessibilityRequirement" type="TourActivityAccessibilityReqType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Physically challenged accessibility preferences.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="GuideInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">If true, tours or activities with guides are requested.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PricePref" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Range or limit of budget.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PricingType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">The pricing type, e.g. per person and per group. Select a predefined pricing type from the list or select the "Other_" value and enter a pricing type known to your trading partners in the @Extension field.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="TourActivityPricingTypeEnum">
														<xs:attribute name="Extension" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">A pricing type known to trading partners if the "Other_" value has been selected from the list.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="MinPrice" type="Money" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The lowest price for a price range search.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="MaxPrice" type="Money" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The highest price for a price range search.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="GuidelinePrice" type="Money" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">A price which the supplier can use as the base for a price search.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="SupplierOperatorPref" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">Allows the inclusion or exclusion of a supplier/ operator.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivitySupplierType">
											<xs:attributeGroup ref="PreferLevelGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to specify the preference level for this supplier/ operator.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="TPA_Extensions" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="TPA_Extensions" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
