org.opentravel/2011A/opentravel-schema/schema/src/main/schema/ota-schema/OTA_TourInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2.000" id="OTA2008A2011A">
	<xs:include schemaLocation="OTA_HotelContentDescription.xsd"/>
	<xs:include schemaLocation="OTA_PkgCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TourType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a complete tour request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="URL" type="URL_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A reference to a source of information for the tour.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The company supplying the tour.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateRange" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Start date and Duration or End Date of the tour.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="DateTimeSpanGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ItineraryItems" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of elements to allow any item of inventory to be requested for a booking. Normal usage is for the items to be presented in chronological sequence.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ItineraryItem" type="ItineraryItemRequestType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Details of a tour component.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extras" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Extras requests.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Extra" type="ExtrasType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Describes an optional service which is not included in the tour but may be booked. in addition.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PromotionCodes" type="StringLength1to16" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">One or more codes to request promotional pricing (up to 5 may be specified.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ID_OptionalGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identifier for the package.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OpenTravel Code List Package Type (PKG).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelCode" type="PkgTravelCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The supplier's code to identify the travel arrangement for the package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TourCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The supplier's code to identify the accommodation/tour arrangements.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MealIncludedCode" type="MealPlanCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code for an included meal. See OpenTravel Code List Meal Plan Type (MPT.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FreeChildrenQuantity" type="Numeric0to99" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of free child places required.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code for the tour operator's product brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ProductCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The tour operator's code for the product within the brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TourPassengerListItem">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details of a passenger or of a quantity of generic passengers e.g. 2 children aged 5.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The name of  the passenger or traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialNeed" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">A special requirement e.g. wheelchair or vegetarian meal.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to64">
							<xs:attribute name="Code" type="StringLength1to8" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PassportInformation" type="DocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of the passenger's passport.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items. For example, used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InsuranceRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to associate this passenger with their insurance cover provided by the supplier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="GenderGroup"/>
		<xs:attribute name="Nationality" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate the nationality of a person, if known. Uses ISO 3166 Country Codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="BirthDateGroup"/>
		<xs:attribute name="LeadCustomerInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When 'true', indicates that this is the 'lead' passenger (i.e., the primary contact making the booking).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="TravelerCountGroup"/>
	</xs:complexType>
	<xs:complexType name="TourInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The TourDescriptiveContent element contains the descriptive information about a tour.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TourName">
				<xs:annotation>
					<xs:documentation xml:lang="en">The full name of the tour and/or other identifiers.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="ShortName" type="StringLength1to64" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Abbreviated tour name.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="ID" type="StringLength1to255" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Unique identifier of a tour.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Descriptive and/or multi-media information about the tour.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destination" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the location of the tour.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="LocationGeneralType">
							<xs:sequence>
								<xs:element name="Region" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Region of the tour e.g. the Sahara.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="RegionGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Region information for the tour.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
								<xs:element name="Position" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Describes the geocoded location of the tour.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="PositionGroup"/>
										<xs:attribute name="Placemark" type="StringLength1to255" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A free-form definition of the destination's position. Could be used as an online mapping service locator.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Category" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides information on a specific aspect of a tour.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CategoryItem" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies an item for the specified category.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Name" type="StringLength1to64" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Provides the name of the category item.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Code" type="StringLength1to8" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">A code for an item within a category.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the type of information in the CategoryItem.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Activity">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the category as an activity.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Theme">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the category theme.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Ability">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the category ability level.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Exertion">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the category exertion level.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Comfort">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the category comfort level.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Keywords" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of keywords relevant to search for tours.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Keyword" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Keyword relevant to search for tours.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="StringLength1to255">
										<xs:attribute name="Type" type="StringLength1to32" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Describes the category of keywords being presented.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Charge" type="FeeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains guideline price information about the tour.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides the duration for the tour.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Description" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Textual description of the tour duration (e.g., one day and four hours).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Duration" type="xs:duration" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The duration of the tour in ISO8601 format (e.g., P1DT04H).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Departures" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of departure dates and times.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DepartureSchedule" minOccurs="0" maxOccurs="366">
							<xs:annotation>
								<xs:documentation xml:lang="en">Departure dates and times.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="OperationSchedulePlusChargeType">
										<xs:attribute name="PeriodTitle" type="StringLength1to64" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Describes the duration period, e.g. 5 days, 4 nights.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="InfoType" type="StringLength1to32" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Allows the provider to indicate whether the schedule is general or specific.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="HasAvailabilityInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">When true, the tour has availability.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Availability" type="Numeric1to999" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Indicates the number of inventory items (e.g. seats) available.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PolicyInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Policy information pertaining to the tour.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerPolicy" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Basic customer policy information pertaining to the tour.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="MinimumCustomers" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The minimum number of customers on the tour.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MaximumCustomers" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The maximum number of customers on the tour.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinimumAge" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The minimum permitted age for customers on the tour.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MaximumAge" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The maximum permitted age for customers on the tour.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="BookingPolicy" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Booking policy information pertaining to the tour.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="InvBlockCutoffGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">The date (AbsoluteCutoff) or period before departure (OffsetDuration) after which no bookings are permitted.  The OffsetCalculationMode attribute is not required for Tours.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupplierInfo" type="ContactInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides details of the tour supplier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Languages spoken by the tour staff.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Language" type="xs:language" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Language spoken on the tour.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="URLs" type="URLsType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of URL elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TPA_Extensions" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="LanguageCode" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identification of the language used for the tour descriptive information.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeZone" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The local time zone in which the tour departs. This could include additional information regarding time zones (e.g., Daylight Saving Time observed), the difference between the local time and GMT. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeSpanGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define the lifespan of the tour content. Used to provide the first and last dates for the tour.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="DateTimeStampGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the dates and authorship of the creation and latest update of the descriptive data.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
</xs:schema>
