org.opentravel/2010B/opentravel-schema/schema/src/main/schema/ota-schema/FastRezOTA_HotelAvailRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.00" id="OTA2010B">
	<xs:include schemaLocation="FastRezOTA_SimpleTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY" and "OPTIONAL" in this document are to be interpreted as described in RFC 2199.</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_HotelAvailRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Availability Request message is used to request the availability of one or more hotel properties matching specified criteria. Either the HotelCode or the HotelCityCode MUST be provided to process the request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS">
					<xs:annotation>
						<xs:documentation>The POS MUST identify the party or connection channel making the request.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Source">
								<xs:annotation>
									<xs:documentation>Source MUST be used to specify details regarding the requestor. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RequestorID">
											<xs:annotation>
												<xs:documentation>RequestorID MUST contain a globally unique identifier of the entity making the request  (e.g. ATA/IATA/ID number, Electronic Reservation Service Provider (ERSP), Association of British Travel Agents (ABTA)). The combination of @ID and @ID_Context MUST be unique.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Type" type="OTA_CodeType" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">The Type identifies the ID and MUST refer to OpenTravel Code List Unique ID Type (UIT).</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ID" type="StringLength1to32" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">ID MUST contain a unique identifying value for the requestor within the scope of the ID_Context.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ID_Context" type="StringLength1to32" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">ID_Context MUST identify the authoritative source of the ID (e.g., IATA, ABTA).</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ISOCountry" type="ISO3166" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">ISOCountry identifies the country code of the requesting party and MUST conform to ISO-3166. The country code of the requesting party MAY be used to refine responses therefore it SHOULD reflect the origin of the Guest.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ISOCurrency" type="AlphaLength3" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">ISOCurrency MUST conform to ISO 4217, 3 character codes. OpenTravel RECOMMENDS that the same currency code be used in the response, but responses MAY be returned in any valid currency.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AvailRequestSegments">
					<xs:annotation>
						<xs:documentation>The AvailRequestSegments container allows for future expansion of the message.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AvailRequestSegment">
								<xs:annotation>
									<xs:documentation xml:lang="en">The AvailRequestSegment  allows for future expansion of the message.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="HotelSearchCriteria">
											<xs:annotation>
												<xs:documentation>The HotelSearchCriteria container allows for future expansion of the message.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Criterion">
														<xs:annotation>
															<xs:documentation>Criterion MUST specify the search criterion for the availability request. </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="HotelRef">
																	<xs:annotation>
																		<xs:documentation>The hotel reference identifies either the specific hotel or the city for which the availability should be performed.  Either the HotelCode or the HotelCityCode MUST be provided.   </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:annotation>
																			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
																		</xs:annotation>
																		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The ChainCode MAY identify a hotel chain or management group (e.g. Hyatt, Hilton, Marriott). The hotel chain code is decided between vendors and is OPTIONAL if the hotel is an independent property that can be identified by the HotelCode attribute alone.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The BrandCode MAY identify the brand within a chain (e.g., Courtyard, Hampton Inn).  This code is OPTIONAL if the hotel is an independent property that can be identified by the HotelCode attribute alone.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The HotelCode uniquely identifies a single hotel property for which the availability is to be performed. The HotelCode MAY be used in conjunction with the ChainCode and BrandCode in order to uniquely identify the hotel property.  The hotel code is decided between vendors.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The HotelCityCode specifies the IATA city code (e.g. DCA, ORD LAX) for which the availability is to be performed.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="StayDateRange">
																	<xs:annotation>
																		<xs:documentation>The StayDateRange MUST specify the arrival and departure dates for the availability request.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="Start" type="DateOrTimeOrDateTimeType" use="required">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Start MUST specify the arrival date for the availability request.   </xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="End" type="DateOrTimeOrDateTimeType" use="required">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">End MUST specify the departure date for the availability request. </xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="RoomStayCandidates">
																	<xs:annotation>
																		<xs:documentation>The RoomStayCandidates container allows for future expansion of the message.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="RoomStayCandidate">
																				<xs:annotation>
																					<xs:documentation>The RoomStayCandidate MAY identify preferences for the room requested.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="GuestCounts">
																							<xs:annotation>
																								<xs:documentation>GuestCounts contains a collection of GuestCount elements that MUST identify the number of guests for the availability request.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="GuestCount" maxOccurs="10">
																										<xs:annotation>
																											<xs:documentation>GuestCount MUST identify the number of guests for the request.  The number of guests and OPTIONALLY the ages of the guests MAY be used to determine the room rates based on business rules for occupancy at each property.  Only the rates that apply to the guest count information specified SHOULD be returned.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:attribute name="AgeQualifyingCode" type="OTA_CodeType" use="required">
																												<xs:annotation>
																													<xs:documentation xml:lang="en">The AgeQualifyingCode specifies a code representing the age type of the guest and MUST refer to the OpenTravel Code List Age Qualifying Code (AQC). This attribute  MUST be used in conjunction with the Count attribute to identify the number of guests of this age type.  FastRez RECOMMENDS restricting the use of the code table to codes  7 - Infant, 8 - Child, 10 - Adult, and 11 - Senior.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="Age" type="Numeric0to999" use="optional">
																												<xs:annotation>
																													<xs:documentation xml:lang="en">Age MAY be used to specify the age of the guest(s).  Age MAY be used to calculate additional person fees by guest age.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="Count" type="Numeric1to999" use="required">
																												<xs:annotation>
																													<xs:documentation xml:lang="en">Count MUST specify the number of guests that are of the age type identified in AgeQualifyingCode and OPTIONALLY of the age identified in the Age attribute.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="BedTypeCode" type="ListOfOTA_CodeType" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">The BedTypeCode MAY indicate the type of bed(s) for the availability request. Typical values include Double, Twin, Queen, or King. Refer to OpenTravel Code List Bed Type Code (BED).</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="NonSmoking" type="xs:boolean" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">The non-smoking indicator, when true, indicates that only non-smoking rooms SHOULD be returned in the  availability response.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">EchoToken MAY provide a reference for additional message identification, assigned by the requesting host system. This attribute SHOULD NOT be used to maintain state, but SHOULD only be used for diagnostic purposes.  When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TimeStamp" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">TimeStamp MUST indicate the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Version" type="xs:decimal" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Version MUST be consistent with the underlying schema baseline.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrimaryLangID" type="xs:language" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">PrimaryLangID code MUST conform to ISO 639 language codes. The code MUST define the language of the request. FastRez RECOMMENDS that the response SHOULD match the request, but a response MAY use any language recognized by ISO 639.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MaxResponses" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">MaxResponses MAY specify a positive integer value that indicates the maximum number of responses desired in the return.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
