org.opentravel/2010B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_DynamicPkgCommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="3.000" id="OTA2008B2010B">
  <xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
  <xs:include schemaLocation="OTA_HotelReservation.xsd"/>
  <xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>
  <xs:annotation>
    <xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AirComponentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">An air trip that is part of the dynamic package.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AirItinerary" type="AirItineraryType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the origin and destination of the traveler. Attributes: DirectionInd - A directional indicator that identifies a type of air booking, either one-way, round-trip, or open-jaw with the enumeration of (OneWay | RT | OpenJaw) respectively. ActionCode - Indicates the status of the booking, such as OK or Wait-List. NumberInParty - Indicates the traveler count.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirItineraryPricingInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en"> Pricing Information for an Air Itinerary.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="AirItineraryPricingInfoType">
              <xs:attribute name="RepriceRequired" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation xml:lang="en"> If true re-pricing of the itinerary is required. </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Notes" type="FreeTextType" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provides for free form descriptive information for the priced itinerary.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TicketingInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Container for TicketingInfoRS_Type.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="TicketingInfoRS_Type">
              <xs:sequence>
                <xs:element name="DeliveryInfo" minOccurs="0" maxOccurs="5">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Shipping information for the ticket.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="DistribType" type="OTA_CodeType" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
															Specifies the manner in which a ticket will be sent to the traveler. Refer to OpenTravel Code List Distribution Type (DTB).</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attributeGroup ref="CurrencyAmountGroup">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the cost of the ticket delivery option.</xs:documentation>
                      </xs:annotation>
                    </xs:attributeGroup>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="PaymentType" type="ListOfOTA_CodeType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the allowable forms of payment (i.e., check, cash, credit card).  Refer to OpenTravel Code List Payment Type (PMT).</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="BookingReferenceID" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This is used for PNR record locator.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ResID_Type" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines the type of  Reservation ID (e.g. reservation number, cancellation number). Refer to OpenTravel Code List Unique ID Type (UIT).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Value" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">This is the actual value associated with ResID_Type as generated by the system that is the source of the ResID_Type.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Source" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier to indicate the source system which generated the ResID_Value.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_SourceContext" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Additional information on Source.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Date" type="xs:dateTime" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Date of the creation of this reservation.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CancelOriginatorCode" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifying code of the system that initiated the cancel of this reservation.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CancellationDate" type="xs:dateTime" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Date this reservation was cancelled.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element ref="TPA_Extensions" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="DynamicPkgComponentGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the air component as well as a reference number for a query and the length of time starting at the create time for which the component will be held.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The date and time the air component was created.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DynamicPkgAirSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of air search criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DynamicPkgSearchType">
        <xs:sequence>
          <xs:element name="AirItinerary" type="AirItineraryType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">The air itineraries to be priced.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginDestinationInformation" type="OriginDestinationInformationType" minOccurs="0" maxOccurs="5">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information on the locations between which availability is to be checked.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecificFlightInfo" type="SpecificFlightInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information used to specify a flight for which availablity is to be checked.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TravelPreferences" type="AirSearchPrefsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">Air Availability Request preference information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TravelRefSummary" type="TravelRefSummaryType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">Used to specify passenger and fare information for which availablity is to be checked.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="TPA_Extensions" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="RequestType" type="AirComponentSearchType" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">The type of search.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DynamicPkgCarSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of rental car search criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DynamicPkgSearchType">
        <xs:sequence>
          <xs:element name="VehAvailRQCore" type="VehicleAvailRQCoreType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Data that is common in a request for vehicle availability and rates.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VehAvailRQInfo" type="VehicleAvailRQAdditionalInfoType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Supplemental information that may be included in a request for vehicle availability and rates.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="TPA_Extensions" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="RequestType" type="CarComponentSearchType" use="optional">
          <xs:annotation>
            <xs:documentation>The type of search.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DynamicPkgGlobalInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ResGlobalInfo is a container for various information that affects the Reservation as a whole. These include global comments, counts, reservation IDs, loyalty programs, and payment methods.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ResGlobalInfoType">
        <xs:sequence>
          <xs:element name="DynamicPkgIDs" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">A collection of unique identifiers that can be used to represent the dynamic package.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="DynamicPkgID" type="UniqueID_Type" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Promotions" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Collection of promotions applied to the package.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Promotion" maxOccurs="99">
                  <xs:annotation>
                    <xs:documentation>Provides promotion information associated with the package.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:attributeGroup ref="DiscountInfoGroup">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Details regarding the promotion.</xs:documentation>
                      </xs:annotation>
                    </xs:attributeGroup>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DynamicPkgGuestType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The ResGuest object contains the information about a guest associated with a reservation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ResGuestType">
        <xs:sequence>
          <xs:element name="SeatRequests" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">A collection of Seat Request</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="SeatRequest" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Seating requests for each passenger for each air leg of this trip.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:annotation>
                      <xs:documentation xml:lang="en"> AWG to revisit.</xs:documentation>
                    </xs:annotation>
                    <xs:complexContent>
                      <xs:extension base="SeatRequestType">
                        <xs:attribute name="TravelerRefNumberRPHList" type="ListOfRPH" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">One or more travelers to whom this request applies</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="FlightRefNumberRPHList" type="ListOfRPH" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">One or more flights to whom this request applies</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="PartialSeatingInd" type="xs:boolean" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">When true, the carrier supports partial seating. When false, the carrier does not support partial seating.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DynamicPkgHotelSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of hotel search criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DynamicPkgSearchType">
        <xs:sequence>
          <xs:element name="HotelSearchCriteria" type="HotelSearchCriteriaType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">Hotel search criteria.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HotelReservationIDs" type="HotelReservationIDsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">Provides the ability to link a hotel search to a previsously booked hotel room.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="TPA_Extensions" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="RequestType" type="HotelComponentSearchType" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">The type of search.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DynamicPkgIDsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of DynamicPkgID objects for a given reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DynamicPkgID" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">The DynamicPkgID object contains various unique identifiers that the trading partners associate with a given reservation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ResID_Type" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines the type of  Reservation ID (e.g. reservation number, cancellation number). Refer to OpenTravel Code List Unique ID Type (UIT).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Value" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">This is the actual value associated with ResID_Type as generated by the system that is the source of the ResID_Type.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Source" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier to indicate the source system which generated the ResID_Value.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_SourceContext" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Additional information on Source.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DynamicPkgOptionSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of package option search criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DynamicPkgSearchType">
        <xs:sequence>
          <xs:element name="OptionSearchCriteria" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">Package option search criteria.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Criterion" type="PackageOptionSearchCriterionType" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Child elements that identify a single search criterion by criteria type. Because many of the types include partial matches to string values such as partial addresses (street names without a number) or partial telephone numbers (area code or three-digit prefix area, etc.) An ExactMatch attribute indicates whether the match to the string value must be exact.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="AvailableOnlyIndicator" type="xs:boolean" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">When true, only available features are returned.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element ref="TPA_Extensions" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="RequestType" type="PackageOptionComponentSearchType" use="optional">
          <xs:annotation>
            <xs:documentation>The type of search.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DynamicPkgResponseType" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains properties common to component response types.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PromotionCode" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Promotion code reference placeholder.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="RPH" type="RPH_Type" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">This is a reference placeholder, used as a unique index for this promotion code in this message.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Warnings" type="WarningsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message, but one in which warnings are generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SequenceNumber" type="Numeric1to999" use="optional"/>
    <xs:attribute name="QuoteID" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">A reference number used to match a query, with rates, to a given time. This is useful for matching prices within a given quote period.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DynamicPkgSearchType" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">Basis for all component search types.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PromotionInfo" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Promotion code pertaining to this portion of the search.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="PromotionCodeRPH" type="RPH_Type" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique reference to the promotion code.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="MaxResponses" type="xs:positiveInteger" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Used to specify the maximum number of responses to a request.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SequenceNumber" type="xs:positiveInteger" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Used to match up search critieria with component results.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DynamicPkgType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains pre-selected components and information about the guests and payments made on the existing reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Components" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of pre-selected components.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="HotelComponent" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A hotel room stay that is part of the dynamic package.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="HotelReservationType">
                    <xs:attributeGroup ref="DynamicPkgComponentGroup">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the hotel component as well as a reference number for a query and the length of time starting at the create time for which the component will be held.</xs:documentation>
                      </xs:annotation>
                    </xs:attributeGroup>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="AirComponent" type="AirComponentType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">An air trip that is part of the dynamic package.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PackageOptionComponent" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>An additional element that is part of the  dynamic package.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0" maxOccurs="2">
                    <xs:annotation>
                      <xs:documentation>Used to provide PMS and/or CRS identifiers.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="PackageOptions" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="PackageOption" type="PackageOptionType" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="DynamicPkgComponentGroup"/>
                <xs:attribute name="CreateDateTime" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>The date and time the feature component was created.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="CarComponent" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>A rental car that is part of the dynamic package.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0" maxOccurs="2">
                    <xs:annotation>
                      <xs:documentation>Used to provide PMS and/or CRS identifiers.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Vehicle" minOccurs="0">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="VehicleReservationRQCoreType">
                          <xs:attribute name="QuoteID" type="StringLength1to64">
                            <xs:annotation>
                              <xs:documentation>A reference string used to match a query, with rates, to a given time. This is useful for matching prices within a given quote period.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="DynamicPkgComponentGroup"/>
                <xs:attribute name="CreateDateTime" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>The date and time the car component was created.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ResGuests" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies the guests associated with this reservation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResGuest" type="DynamicPkgGuestType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>The ResGuest object contains the information about a guest associated with a reservation.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalInfo" type="DynamicPkgGlobalInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information that affects the reservation as a whole.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="DynamicPkgActionStatusGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the package.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="IncludedRatePlanType">
    <xs:attribute name="PlanCode" type="StringLength1to64" use="optional">
      <xs:annotation>
        <xs:documentation>The rate plan code of the item to be included.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ServiceCode" type="StringLength1to64" use="optional">
      <xs:annotation>
        <xs:documentation>a unique identifier</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Type" type="OTA_CodeType" use="optional">
      <xs:annotation>
        <xs:documentation>The type of component rateplan. Refer to OpenTravel Code List Travel Sector (TVS).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InclusionSetType">
    <xs:sequence>
      <xs:element name="RatePlans" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RatePlan" type="IncludedRatePlanType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Descriptions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Description" type="ParagraphType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Name" type="StringLength1to64">
      <xs:annotation>
        <xs:documentation>Name of the inclusive component.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RPH" type="RPH_Type" use="optional">
      <xs:annotation>
        <xs:documentation>Unique identifier of the item to include.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Rule" type="DynamicPkgInclusionRule" use="optional">
      <xs:annotation>
        <xs:documentation>The rule by which the item should be included to the package (required, suggested, etc.)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MatchGuestCount" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Determines whether the number of included items must match the number of guests attached to the reservation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinAdult" type="Numeric0to99" use="optional">
      <xs:annotation>
        <xs:documentation>The minimum number of adults that must be included.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MaxAdult" type="Numeric0to99" use="optional">
      <xs:annotation>
        <xs:documentation>The maximum number of adults that must be included.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinChild" type="Numeric0to99" use="optional">
      <xs:annotation>
        <xs:documentation>The minimum number of adults that must be included.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MaxChild" type="Numeric0to99" use="optional">
      <xs:annotation>
        <xs:documentation>The maximum number of children that must be included.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PackageOptionSearchCriterionType">
    <xs:sequence>
      <xs:element name="RefPoint" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Reference Point element allows for a search by proximity to a designated reference point by name.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="StringLength0to64">
              <xs:attribute name="StateProv" type="StateProvCodeType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The state or province in which the reference point is located.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="CountryCode" type="ISO3166" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The country in which the reference point is located.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attributeGroup ref="CodeListGroup">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Used to specify a reference point by a code.</xs:documentation>
                </xs:annotation>
              </xs:attributeGroup>
              <xs:attribute name="RefPointType" type="OTA_CodeType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Indicates the type of location being referenced (e.g., Airport, Hotel). Refer to the OpenTravel Code table Index Point Code (IPC).</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="Name" type="StringLength1to128" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The name of the reference point.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="CityName" type="StringLength1to64" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The name of the city associated with this reference point.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="HotelRef" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates the detail of hotel reference information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="HotelReferenceGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Detailed hotel information for the search.</xs:documentation>
            </xs:annotation>
          </xs:attributeGroup>
          <xs:attribute name="SegmentCategoryCode" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Used to search for hotels within a particular market segment. Refer to OpenTravel Code Segment Category Code Type (SEG).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PropertyClassCode" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Refer to OpenTravel Code list OpenTravel Code List Property Class Type (PCT).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ArchitecturalStyleCode" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Refer to OpenTravel Code List Architectural Style Code (ARC).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SupplierIntegrationLevel" type="xs:nonNegativeInteger" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">The level of integration of a property to provide automated transaction information. The lower the number, the higher the integration (e.g., a 1 means the supplier has the highest level of integration automation).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="LocationCategoryCode" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Used to search for hotels in a specific location category (e.g. downtown, airport or suburban, etc.) Refer to OpenTravel Code List Location Category Codes (LOC).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ExtendedCitySearchIndicator" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">When true indicates the search should be performed beyond the hotel city code, typically this could include neighboring cities to the specified hotel city code.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="OptionRef" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates the detail of package option reference information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="Code" type="StringLength1to16" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">The code that uniquely identifies a single package option.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="RatePlanRef" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates the detail of feature reference information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="PlanCode" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">The code that identifies a feature's rate plan.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="PlanID" type="StringLength1to32" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">The id that uniquely identifies a feature's rate plan.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="DateRange" type="DateTimeSpanType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Range of dates, or fixed set of dates for Availability Request. Date range can also be specified by using start	dates and number of nights (minimum, maximum or fixed).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestTypes" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The types of package options to request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestType" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="Type" type="OTA_CodeType" use="optional">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">A specific type of package option to request. Refer to OpenTravel Code List Package Option Type Code (PKO).</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GuestCounts" type="GuestCountType" minOccurs="0"/>
      <xs:element ref="TPA_Extensions" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackageOptionType">
    <xs:annotation>
      <xs:documentation>A product which supplements a package.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ServiceType">
        <xs:attribute name="RatePlanID" type="StringLength1to64" use="optional">
          <xs:annotation>
            <xs:documentation>A text field used to indicate a special  ID code that is associated with the rate and is essential in the reservation request in order to obtain the rate. Examples are Corporate ID.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="QuoteID" type="StringLength1to64" use="optional">
          <xs:annotation>
            <xs:documentation>A reference string used to match a query, with rates, to a given time. This is useful for matching prices within a given quote period.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PackageOptionType" type="OTA_CodeType" use="optional">
          <xs:annotation>
            <xs:documentation>The type of feature. Refer to OpenTravel Code List Package Option Type Code (PKO).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AvailabilityStatus" type="RateIndicatorType" use="optional">
          <xs:annotation>
            <xs:documentation>Used to specify an availability status for the room rate.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CompanyShortName" type="StringLength1to64" use="optional">
          <xs:annotation>
            <xs:documentation>The vendor name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PackageOptionGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of related package options.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="ParagraphType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the relation between the package options in this group.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageOption" type="PackageOptionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A product which supplements a package.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SequenceNumber" type="Numeric1to999" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TravelRefSummaryType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains references to the DynamicPkgGuest the air search is for.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PassengerTypeQuantities" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the PTCs associated with this component of the dynamic package.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PassengerTypeQuantity" type="PassengerTypeQuantityType" minOccurs="0" maxOccurs="10">
              <xs:annotation>
                <xs:documentation xml:lang="en">Number of individuals traveling under this PTC.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TravelerRefNumbers" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the list of traveler RPHs for this component of the dynamic package.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TravelerRefNumber" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation xml:lang="en">Contains the RPH reference to the traveler.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="TravelerRefNumberGroup">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">A reference place holder used as a pointer to link back to the traveler.</xs:documentation>
                  </xs:annotation>
                </xs:attributeGroup>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PriceRequestInformation" type="PriceRequestInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies pricing source, if negotiated fares are requested and if it is a reprice request.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AirComponentSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies search types for air components in dynamic packages.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="LowestFare"/>
      <xs:enumeration value="Schedule"/>
      <xs:enumeration value="PriceFlights"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CarComponentSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies search types for rental car components in a dynamic package.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AvailPrice"/>
      <xs:enumeration value="Avail"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DynamicPkgInclusionRule">
    <xs:annotation>
      <xs:documentation xml:lang="en">Possible inclusion types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Included"/>
      <xs:enumeration value="Optional"/>
      <xs:enumeration value="Required"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HotelComponentSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies search types for hotel components in a dynamic package.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AvailPrice"/>
      <xs:enumeration value="Avail"/>
      <xs:enumeration value="PropertyList"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PackageOptionComponentSearchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies search types for package option components in a dynamic package.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AvailPrice"/>
      <xs:enumeration value="Avail"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="DynamicPkgActionStatusGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the component or package.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="DynamicPkgAction" type="TransactionActionType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The action being requested on the component or package.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DynamicPkgStatus" type="TransactionStatusType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The status of the component or package.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="DynamicPkgComponentGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies common attributes that are part of the components of a dynamic package.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="HoldDuration" type="xs:duration" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The length of time starting at the create time for which the component will be held.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="QuoteID" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">A reference number used to match a query, with rates, to a given time. This is useful for matching prices within a given quote period.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="DynamicPkgActionStatusGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the component or package.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:attributeGroup>
</xs:schema>
