org.opentravel/_2013B/opentravel-ws/opentravel-hotel-ws-soap/src/main/resources/hotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="wsdl-first"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tns="http://www.opentravel.org/OTA/2003/05/ws"
    xmlns:ota="http://www.opentravel.org/OTA/2003/05"
    targetNamespace="http://www.opentravel.org/OTA/2003/05/ws">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.opentravel.org/OTA/2003/05"
			id="OTA2013B" elementFormDefault="qualified"
			version="1.000">
			<xsd:import schemaLocation="http://www.opentravel.org/2013B/OTA_HotelResRQ.xsd"
				namespace="http://www.opentravel.org/OTA/2003/05" />
			<xsd:import schemaLocation="http://www.opentravel.org/2013B/OTA_HotelResRS.xsd"
				namespace="http://www.opentravel.org/OTA/2003/05" />
			<xsd:import schemaLocation="http://www.opentravel.org/2013B/OTA_HotelResModifyRQ.xsd"
				namespace="http://www.opentravel.org/OTA/2003/05" />
			<xsd:import schemaLocation="http://www.opentravel.org/2013B/OTA_HotelResModifyRS.xsd"
				namespace="http://www.opentravel.org/OTA/2003/05" />
		</xsd:schema>
	</wsdl:types>
    
    <wsdl:message name="HotelResRequest">
        <wsdl:part name="payload" element="ota:OTA_HotelResRQ"/>
    </wsdl:message>
    <wsdl:message name="HotelResResponse">
        <wsdl:part name="payload" element="ota:OTA_HotelResRS"/>
    </wsdl:message>
    <wsdl:message name="HotelResModifyRequest">
        <wsdl:part name="payload" element="ota:OTA_HotelResModifyRQ"/>
    </wsdl:message>
    <wsdl:message name="HotelResModifyResponse">
        <wsdl:part name="payload" element="ota:OTA_HotelResModifyRS"/>
    </wsdl:message>

    <wsdl:portType name="Hotel">
        <wsdl:operation name="HotelRes">
            <wsdl:input message="tns:HotelResRequest"/>
            <wsdl:output message="tns:HotelResResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HotelResModify">
            <wsdl:input message="tns:HotelResModifyRequest"/>
            <wsdl:output message="tns:HotelResModifyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="HotelSOAPBinding" type="tns:Hotel">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="HotelRes">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
       </wsdl:operation>
        <wsdl:operation name="HotelResModify">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
       </wsdl:operation>
   </wsdl:binding>

    <wsdl:service name="HotelService">
        <wsdl:port binding="tns:HotelSOAPBinding" name="soap">
           <soap:address location="http://localhost:8092/soap/hotel/" />
       </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
