org.opentravel/2012A/opentravel-schema/schema/src/main/schema/ota-schema/OTA_AirBaggageRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.000" id="OTA2012A">
	<xs:annotation>
		<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
<xs:annotation>
	<xs:documentation source="Notice" xml:lang="en">The OTA_CodeType simpleType will be deprecated in the 2013A OpenTravel XML Message Suite publication. All OTA_CodeType typed attributes with be replaced with elements typed as an open list, e.g. List_NameOfList.</xs:documentation>
</xs:annotation>
	
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:element name="OTA_AirBaggageRS">
		<xs:annotation>
			<xs:documentation source="Description" xml:lang="en">OpenTravel Air Baggage Response.</xs:documentation>
			<xs:documentation source="Moreinfo" xml:lang="en">Note: The air baggage response provides pricing for checked bags, baggage allowance for an itinerary and lists of baggage allowances for a specific origin and destination pair.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message, but one in which warnings are generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProcessingInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Description" xml:lang="en">The baggage response type and other key message processing directives.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="OfferInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">If true, the baggage charges may be subject to air supplier merchandising offers.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="PayWithMilesInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">If true, the baggage fees may be paid for with miles.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="ResponseType" use="optional">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">The baggage information contained in the response.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Baggage Charge">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">Retrieves baggage charges for a specified itinerary or traveler(s).</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Baggage Allowance">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">Retrieves baggage allowances for a specified itinerary or traveler(s).</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Baggage Charge and Allowance">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">Retrieves both baggage allowances and charges for a specified itinerary or traveler(s).</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Baggage List">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">Retrieves a baggage list for a specified itinerary or airline carrier.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="PricingCurrency" type="AlphaLength3" use="optional">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">The pricing/filing currency in ISO 4217 encoding.</xs:documentation>
									<xs:documentation source="example" xml:lang="en">CAD = Canadian Dollar | USD = United States Dollar | EUR = Euro</xs:documentation>
									<xs:documentation source="reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">The number of decimal places for the display and pricing currency(s).</xs:documentation>
									<xs:documentation source="example" xml:lang="en">USD 8500 with "2" Decimal Places represents $85.</xs:documentation>
									<xs:documentation source="reference" xml:lang="en">http://www.iso.org/iso/support/faqs/faqs_widely_used_standards/widely_used_standards_other/currency_codes/currency_codes_list-1.htm</xs:documentation>
									<xs:documentation source="Definition" xml:lang="en">This is equivalent to the ISO 4217 standard "minor unit" and is typically used when the amount provided includes the minor unit of currency without a decimal point.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="USDOT_Ind" type="xs:boolean">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">If true, information contained in this response was subject to US Department of Transportation regulations.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="AllowanceAndCharge" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Description" xml:lang="en">Baggage allowance for an O/D pair with per piece pricing and service information.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OriginDestination" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation source="Description" xml:lang="en">Baggage allowance by origin and destination.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OriginLocation">
												<xs:annotation>
													<xs:documentation xml:lang="en">Travel Origin Location.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="LocationType">
															<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, other airports within this city may be considered (i.e., EWR, JFK when origin location is LGA.)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AlternateLocationInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, alternate locations may be considered.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="DestinationLocation">
												<xs:annotation>
													<xs:documentation xml:lang="en">Travel Destination Location.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="LocationType">
															<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, other airports within this city may be considered (i.e., EWR, JFK when origin location is LGA.)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AlternateLocationInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, alternate locations may be considered.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="ConnectionLocations" type="ConnectionType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Travel Connection Location.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="BaggageDetail" form="qualified" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Baggage details.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="BaggageSpecificationType">
															<xs:sequence>
																<xs:element name="Family" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">Airline or ATPCO encoded service family(s).</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="AncillaryServiceDetailType">
																				<xs:sequence>
																					<xs:element name="FilingPricing" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Filed pricing. Make complexType for both pricing elements.</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Pricing" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Actual pricing. This is what is displayed to customer. Include pricing type with taxes. Extend with DisplayLabel.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AddCurrencyConversion"/>
																		</xs:sequence>
																		<xs:attribute name="DisplayLabel">
																			<xs:annotation>
																				<xs:documentation>Marketing name for pricing type, e.g. "Filed Price".</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string"/>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attributeGroup ref="CurrencyAmountGroup"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="MaximumPieces" type="xs:positiveInteger" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The maximum pieces of baggage allowed.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Quantity" type="xs:positiveInteger" use="optional">
																<xs:annotation>
																	<xs:documentation>Number of pieces.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="BookingInstruction" minOccurs="0">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Booking and upgrade instructions.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="SSR_Info" type="SpecialServiceRequestType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Special service request information.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="OSI_Info" type="OtherServiceInfoType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Other service information.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Upgrade" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Upgrade instruction information.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Instruction" type="xs:string" minOccurs="0" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation source="Description" xml:lang="en">Upgrade instruction text.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="UpgradeMethod" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">The upgrade method that should be applied to the offer.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="S_SpecialServiceRequest"/>
																			<xs:enumeration value="A_AutoUpgrade"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="UpgradeDesigCode" type="UpperCaseAlphaLength1to2" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The upgrade booking class.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="OtherInfo" type="TextDescriptionType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Other information related to the booking instruction.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="BookingMethod" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">The booking method that should be applied to the offer.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="SSR_SpecialServiceRequest"/>
																<xs:enumeration value="OSI_OtherServiceInformation"/>
																<xs:enumeration value="API_AdvancedPassengerInformation"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="CustLoyalty" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">An associated loyalty program that influenced the baggage allowance.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
													<xs:attribute name="OptionType" use="required">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">A baggage related discount or surcharge type.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Discount">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">ATPCO - Only applicable when using method F, applying option directly to a fare (not used in an EMD solution).</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="Included">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">This item is free of charge due to loyalty program status or chosen price class.</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="Not Applicable">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">This item is not available or applicable due to loyalty program status or chosen price class..</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="Surcharge"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="CalculationInfo" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Service or bag specific fee calculation information or warnings.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="TextDescriptionType">
															<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="MarketingAirline" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">The marketing airline (or validating carrier.)</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="CompanyNameType">
															<xs:attribute name="MostSignificantInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">If true, this carrier is the most significant carrier governing the baggage restrictions.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="Service" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Baggage service information.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Family" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Airline or ATPCO encoded service family(s).</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="AncillaryServiceDetailType"/>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="Pricing" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Pricing for this baggage service.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="TaxInfo" type="TaxType" minOccurs="0" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation source="Description" xml:lang="en">Tax(es) that were applied to this pricing.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="AppliedRule" type="AppliedRuleType" minOccurs="0" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Rules that applied to this pricing.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="PricingQualifier" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Description" xml:lang="en">Additional information that influenced the pricing, including restrictions, promotions, tax exemptions, private and negotiated fares.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="NegotiatedFare" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation source="Description" xml:lang="en">Negotiated fares and services.</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:complexContent>
																							<xs:extension base="FareInfoType">
																								<xs:sequence>
																									<xs:element name="Supplier" type="CompanyNameType" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Supplier/ carrier airline information.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:extension>
																						</xs:complexContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="OriginalIssueInfo" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Original ticket/document issue information.</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="optional">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">The original ticket/document number.</xs:documentation>
																							</xs:annotation>
																						</xs:attribute>
																						<xs:attribute name="IssuingAgentID" type="NumericStringLength1to8" use="optional">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">ID of the original issuer of the ticket/document.</xs:documentation>
																							</xs:annotation>
																						</xs:attribute>
																						<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
																							<xs:annotation>
																								<xs:documentation>Date the ticket/document was originally issued.</xs:documentation>
																							</xs:annotation>
																						</xs:attribute>
																						<xs:attribute name="LocationCode" type="StringLength1to8" use="optional">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">Location of original issue.</xs:documentation>
																							</xs:annotation>
																						</xs:attribute>
																						<xs:attribute name="IssuingAirlineCode" type="StringLength1to16" use="optional">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">The code of the original issuing airline.</xs:documentation>
																							</xs:annotation>
																						</xs:attribute>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="Other" type="AirPricingQualifierType" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation source="Description" xml:lang="en">Other pricing qualifiers, including promotions, restrictions and tax exemptions.</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="PrivateFare" type="PrivateFareType" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation source="Description" xml:lang="en">Private fares and services.</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="RedemptionPoints" type="AirRedemptionMilesType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Redemption pricing information if all or a portion of this service may be paid using points.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ApplyTo" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Description" xml:lang="en">References to unique ID(s) set elsewhere in this message to associate this pricing information with.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:attribute name="TravelerRPH" type="RPH_Type" use="optional">
																				<xs:annotation>
																					<xs:documentation source="Description" xml:lang="en">A reference to a unique traveler ID.</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																			<xs:attribute name="OrigDestSequenceRPH" type="RPH_Type" use="optional">
																				<xs:annotation>
																					<xs:documentation source="Description" xml:lang="en">A reference to a unique  O/D pair.</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="PreTaxAmount" type="Money" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">The amount charged for the service that does NOT include taxes.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="TaxAmount" type="Money" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">The tax amount.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="Amount" type="Money" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">The total amount charged for the service including any applicable tax(es). 

NOTE: If there is no cost associated with the service or redemption miles are being used, set this value to 0.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attributeGroup ref="ExchangeRateGroup"/>
																<xs:attribute name="BaseNUC_Amount" type="Money" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The base neutral unit of construction amount.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attributeGroup ref="CurrencyCodeGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="ApplyTo" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">References to unique ID(s) set elsewhere in this message to associate this pricing information with.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="OrigDestSequenceRPH" type="RPH_Type" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">A reference to a unique  O/D pair.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="TravelerRPH" type="RPH_Type" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">A reference to a unique traveler ID.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="ATPCO_Diagnostic" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">ATPCO diagnostic information.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="S5" type="xs:integer" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">Shows ATPCO record S5 diagnostic information.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="S7" type="xs:integer" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">Shows ATPCO record S7 diagnostic information.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="S7SequenceNo" type="xs:integer" use="optional">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">ATPCO record S7 sequence number.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="EMD_TypeValue" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">The EMD type value.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="1 - Standalone"/>
																<xs:enumeration value="2 - Associated to a Flight"/>
																<xs:enumeration value="3 - Standalone No Flight Ticket Associated"/>
																<xs:enumeration value="4 - Carrier Directed No EMD"/>
																<xs:enumeration value="5 - Eticket"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="Method" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">The allowance method.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="D - Direct Settlement"/>
																<xs:enumeration value="EA - EMD Associated"/>
																<xs:enumeration value="ES - EMD Standalone"/>
																<xs:enumeration value="F - Fare Integrated"/>
																<xs:enumeration value="MA - Flight Associated Settled via MCO"/>
																<xs:enumeration value="MA - Standalone Settled via MCO"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ServiceLocation" type="AlphaLength3" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">The 3 letter IATA city or airport code related to the service location.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ServiceDate" type="DateOrDateTimeType" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">The date of service.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
														<xs:annotation>
															<xs:documentation source="Description" xml:lang="en">A unique identifier to reference this set of service information.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="TicketBox" minOccurs="0">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">A baggage allowance descriptor.</xs:documentation>
													<xs:documentation source="Developer" xml:lang="en">Example: PC = per piece, 2PC = 2 pieces, nn = per weight (nn is the weight limit). A blank string is also allowed in this element.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:string">
															<xs:attribute name="Concept" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The value type.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Piece"/>
																		<xs:enumeration value="Weight"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="Offer" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Airline merchandising offers that apply to baggage allowance and/or charges.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="AirOfferType">
															<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">A reference to a set baggage allowance information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">A reference to a set baggage service charge information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A unique identifier for this baggage allowance information.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ArrivalDateTime" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The arrival date.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DepartureDateTime" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The departure date.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="OrigDestSequenceRPH" type="RPH_Type" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">A unique reference to this O/D pair.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="TotalPrice" minOccurs="0">
									<xs:annotation>
										<xs:documentation source="Description" xml:lang="en">The total baggage price for the entire trip (including all passengers.)</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="TaxInfo" type="TaxType" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Tax(es) that were applied to this pricing.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="RedemptionPoints" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Redemption pricing information if all or a portion of this service may be paid using points.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="AlternateCurrencyType">
															<xs:attribute name="CabinClass" type="CabinType" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">Cabin type.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="AppliedRule" type="AppliedRuleType" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">Rules that applied to this pricing.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="PricingQualifier" minOccurs="0">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Additional information that influenced the pricing, including restrictions, promotions, tax exemptions, private and negotiated fares.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="NegotiatedFare" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Negotiated fares and services.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="FareInfoType">
																		<xs:sequence>
																			<xs:element name="Supplier" type="CompanyNameType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation source="Description" xml:lang="en">Supplier/ carrier airline information.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="OriginalIssueInfo" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Original ticket/document issue information.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The original ticket/document number.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="IssuingAgentID" type="NumericStringLength1to8" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">ID of the original issuer of the ticket/document.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
																	<xs:annotation>
																		<xs:documentation>Date the ticket/document was originally issued.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="LocationCode" type="StringLength1to8" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Location of original issue.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="IssuingAirlineCode" type="StringLength1to16" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The code of the original issuing airline.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="Other" type="AirPricingQualifierType" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Other pricing qualifiers, including promotions, restrictions and tax exemptions.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PrivateFare" type="PrivateFareType" minOccurs="0">
															<xs:annotation>
																<xs:documentation source="Description" xml:lang="en">Private fares and services.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="PreTaxAmount" type="Money" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The amount charged for the service that does NOT include taxes.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TaxAmount" type="Money" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The tax amount.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Amount" type="Money" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The total amount charged for the service including any applicable tax(es). 

NOTE: If there is no cost associated with the service or redemption miles are being used, set this value to 0.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="ExchangeRateGroup"/>
										<xs:attribute name="BaseNUC_Amount" type="Money" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The base neutral unit of construction amount.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="CurrencyCodeGroup"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="OfferInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">If true, the baggage allowance may be subject to air supplier merchandising offers.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaggageList" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Description" xml:lang="en">Baggage List and Catalog.</xs:documentation>
							<xs:documentation source="Moreinfo" xml:lang="en">Note: This is a baggage list and catalog, with the catalog including pricing and other carrier information. The list is by O/D, and includes a list of bags that can be checked, e.g. items that are accepted by the carrier.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OriginDestination" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation source="Description" xml:lang="en">Baggage list/ catalog by origin and destination.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OriginLocation">
												<xs:annotation>
													<xs:documentation xml:lang="en">Travel Origin Location.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="LocationType">
															<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, other airports within this city may be considered (i.e., EWR, JFK when origin location is LGA.)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AlternateLocationInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, alternate locations may be considered.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="DestinationLocation">
												<xs:annotation>
													<xs:documentation xml:lang="en">Travel Destination Location.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="LocationType">
															<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, other airports within this city may be considered (i.e., EWR, JFK when origin location is LGA.)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AlternateLocationInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">If true, alternate locations may be considered.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="ConnectionLocations" type="ConnectionType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Travel Connection Location.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="MarketingAirline" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">The marketing airline (or validating carrier.)</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="CompanyNameType">
															<xs:attribute name="MostSignificantInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">If true, this carrier is the most significant carrier governing the baggage restrictions.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of baggage allowance information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A reference to a set of service information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="BaggageDetail" form="qualified" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation source="Description" xml:lang="en">Baggage details.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="BaggageSpecificationType">
															<xs:sequence>
																<xs:element name="ServiceFamily" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation source="Description" xml:lang="en">Airline or ATPCO service family with pricing and booking instructions.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ProductGroup" minOccurs="0" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation source="Description" xml:lang="en">Airline or ATPCO product group code(s) that are associated with the service code.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="SubGroup" minOccurs="0" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation source="Description" xml:lang="en">Airline or ATPCO encoded sub-group code(s) that are associated with the group code.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="BaggageDetail">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Baggage details for one RFISC product code.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:complexContent>
																												<xs:extension base="BaggageSpecificationType">
																													<xs:attribute name="MaximumPieces" type="xs:positiveInteger" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">The maximum pieces of baggage allowed.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="Quantity" type="xs:positiveInteger" use="optional">
																														<xs:annotation>
																															<xs:documentation>Number of pieces.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="EMD_TypeValue" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">The EMD type value.</xs:documentation>
																														</xs:annotation>
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:enumeration value="1 - Standalone"/>
																																<xs:enumeration value="2 - Associated to a Flight"/>
																																<xs:enumeration value="3 - Standalone No Flight Ticket Associated"/>
																																<xs:enumeration value="4 - Carrier Directed No EMD"/>
																																<xs:enumeration value="5 - Eticket"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																													<xs:attribute name="Method" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">The allowance method.</xs:documentation>
																														</xs:annotation>
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:enumeration value="D - Direct Settlement"/>
																																<xs:enumeration value="EA - EMD Associated"/>
																																<xs:enumeration value="ES - EMD Standalone"/>
																																<xs:enumeration value="F - Fare Integrated"/>
																																<xs:enumeration value="MA - Flight Associated Settled via MCO"/>
																																<xs:enumeration value="MA - Standalone Settled via MCO"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																													<xs:attribute name="ServiceLocation" type="AlphaLength3" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">The 3 letter IATA city or airport code related to the service location.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="ServiceDate" type="DateOrDateTimeType" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">The date of service.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																													<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">A unique identifier to reference this set of service information.</xs:documentation>
																														</xs:annotation>
																													</xs:attribute>
																												</xs:extension>
																											</xs:complexContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="BookingInstruction" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Booking and upgrade instructions.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="SSR_Info" type="SpecialServiceRequestType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Special service request information.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="OSI_Info" type="OtherServiceInfoType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Other service information.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="Upgrade" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Upgrade instruction information.</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="Instruction" type="xs:string" minOccurs="0" maxOccurs="unbounded">
																																<xs:annotation>
																																	<xs:documentation source="Description" xml:lang="en">Upgrade instruction text.</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="UpgradeMethod" use="optional">
																															<xs:annotation>
																																<xs:documentation source="Description" xml:lang="en">The upgrade method that should be applied to the offer.</xs:documentation>
																															</xs:annotation>
																															<xs:simpleType>
																																<xs:restriction base="xs:string">
																																	<xs:enumeration value="S_SpecialServiceRequest"/>
																																	<xs:enumeration value="A_AutoUpgrade"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:attribute>
																														<xs:attribute name="UpgradeDesigCode" type="UpperCaseAlphaLength1to2" use="optional">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">The upgrade booking class.</xs:documentation>
																															</xs:annotation>
																														</xs:attribute>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="OtherInfo" type="TextDescriptionType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Other information related to the booking instruction.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="BookingMethod" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">The booking method that should be applied to the offer.</xs:documentation>
																												</xs:annotation>
																												<xs:simpleType>
																													<xs:restriction base="xs:string">
																														<xs:enumeration value="SSR_SpecialServiceRequest"/>
																														<xs:enumeration value="OSI_OtherServiceInformation"/>
																														<xs:enumeration value="API_AdvancedPassengerInformation"/>
																													</xs:restriction>
																												</xs:simpleType>
																											</xs:attribute>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="Description" type="FreeTextType" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Additional baggage information.</xs:documentation>
																											<xs:documentation source="Example" xml:lang="en">Example: First checked bag fee to/from South America</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Offer" type="AirOfferType" minOccurs="0" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Airline merchandising offers that apply to baggage allowance and/or charges.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="Pricing" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Baggage pricing information, including amounts, tax(s), pricing rules, pricing influencers, exchange rate and redemption amounts.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="AppliedRule" type="AppliedRuleType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation xml:lang="en">Rules that applied to this pricing.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CalculationInfo" type="TextDescriptionType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Service or bag specific fee calculation information or warnings.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="PricingQualifier" type="AirPricingQualifierType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Additional information that influenced the pricing, including restrictions, promotions and tax exemptions.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="RedemptionPoints" type="AirRedemptionMilesType" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation xml:lang="en">Redemption pricing information if all or a portion of this offer may be paid using points.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="TaxInfo" type="TaxType" minOccurs="0" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation source="Description" xml:lang="en">Tax(es) that were applied to this pricing.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="PreTaxAmount" type="Money" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">The amount charged for the ancillary product that typically does NOT include taxes.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="TaxAmount" type="Money" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">The tax amount.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="Amount" type="Money" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">The total amount charged for the ancillary product including any applicable tax(es). 

NOTE: If there is no cost associated with the offer or redemption miles are being used, set this value to 0.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="PricingCurrency" type="AlphaLength3" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">The pricing/filing currency in ISO 4217 encoding.</xs:documentation>
																													<xs:documentation source="Example" xml:lang="en">CAD = Canadian Dollar | USD = United States Dollar | EUR = Euro</xs:documentation>
																													<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">The number of decimal places for the display and pricing currency(s).</xs:documentation>
																													<xs:documentation source="Examples" xml:lang="en">USD 8500 with "2" Decimal Places represents $85.</xs:documentation>
																													<xs:documentation source="References" xml:lang="en">http://www.iso.org/iso/support/faqs/faqs_widely_used_standards/widely_used_standards_other/currency_codes/currency_codes_list-1.htm</xs:documentation>
																													<xs:documentation source="Definition" xml:lang="en">This is equivalent to the ISO 4217 standard "minor unit" and is typically used when the amount provided includes the minor unit of currency without a decimal point.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attributeGroup ref="ExchangeRateGroup"/>
																											<xs:attribute name="BaseNUC_Amount" type="Money" use="optional">
																												<xs:annotation>
																													<xs:documentation xml:lang="en">The base neutral unit of construction amount.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="DisplayLabel">
																												<xs:annotation>
																													<xs:documentation>Marketing name for pricing type, e.g. "Filed Price".</xs:documentation>
																												</xs:annotation>
																												<xs:simpleType>
																													<xs:restriction base="xs:string"/>
																												</xs:simpleType>
																											</xs:attribute>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="TicketBox" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">A baggage allowance descriptor.</xs:documentation>
																											<xs:documentation source="Developer" xml:lang="en">Example: PC = per piece, 2PC = 2 pieces, nn = per weight (nn is the weight limit). A blank string is also allowed in this element.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="Concept" use="optional">
																														<xs:annotation>
																															<xs:documentation source="Description" xml:lang="en">The value type.</xs:documentation>
																														</xs:annotation>
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:enumeration value="Piece"/>
																																<xs:enumeration value="Weight"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="ATPCO_Diagnostic" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">ATPCO diagnostic information.</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:attribute name="S5" type="xs:integer" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">Shows ATPCO record S5 diagnostic information.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="S7" type="xs:integer" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">Shows ATPCO record S7 diagnostic information.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																											<xs:attribute name="S7SequenceNo" type="xs:integer" use="optional">
																												<xs:annotation>
																													<xs:documentation source="Description" xml:lang="en">ATPCO record S7 sequence number.</xs:documentation>
																												</xs:annotation>
																											</xs:attribute>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="CodeSource" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">The source for the @RFISC_Code and @Code definitions. Note that setting this attribute at this level will override the global CodeSource attribute set at a higher level in the message.</xs:documentation>
																									</xs:annotation>
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:enumeration value="AirlineInternal"/>
																											<xs:enumeration value="ATPCO"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																								<xs:attribute name="Code" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">A unique product sub-group code that may be airline defined or a RFISC (reason for issuance sub-code.)</xs:documentation>
																										<xs:documentation source="Definition" xml:lang="en">The three character alphanumeric RFISC.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="AdditionalCode" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">An additional code that further defines the sub-group.</xs:documentation>
																										<xs:documentation source="Definition" xml:lang="en">The three character alphanumeric RFISC.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="Description" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">A description of the group code.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="BrandedFareName" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">A pure fare that sits within a fare family. This is a fare associated with a brand (fare basis code) and at this level does not describe what is included.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="Name" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">The name of the ancillary item.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="ShortDescription" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">A short description of the ancillary item.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="LongDescription" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">A detailed description of the ancillary item.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="TotalPrice" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation source="Description" xml:lang="en">The total baggage price for the subgroup specification.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="RedemptionPoints" type="AirRedemptionMilesType" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation xml:lang="en">Redemption pricing information if all or a portion of this offer may be paid using points.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="TaxInfo" type="TaxType" minOccurs="0" maxOccurs="unbounded">
																										<xs:annotation>
																											<xs:documentation source="Description" xml:lang="en">Tax(es) that were applied to this pricing.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="PreTaxAmount" type="Money" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">The amount charged for the service that does NOT include taxes.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="TaxAmount" type="Money" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">The tax amount.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="Amount" type="Money" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">The total amount charged for the service including any applicable tax(es). 

NOTE: If there is no cost associated with the service or redemption miles are being used, set this value to 0.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attributeGroup ref="CurrencyCodeGroup"/>
																								<xs:attributeGroup ref="ExchangeRateGroup"/>
																								<xs:attribute name="BaseNUC_Amount" type="Money" use="optional">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">The base neutral unit of construction amount.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="ATPCO_Diagnostic" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation source="Description" xml:lang="en">ATPCO diagnostic information.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="S5" type="xs:integer" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">Shows ATPCO record S5 diagnostic information.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="S7" type="xs:integer" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">Shows ATPCO record S7 diagnostic information.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="S7SequenceNo" type="xs:integer" use="optional">
																									<xs:annotation>
																										<xs:documentation source="Description" xml:lang="en">ATPCO record S7 sequence number.</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="CodeSource" use="optional">
																						<xs:annotation>
																							<xs:documentation source="Description" xml:lang="en">The source for the @RFIC_Code definition. Note that setting this attribute at this level will override the global CodeSource attribute set at a higher level in the message.</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value="AirlineInternal"/>
																								<xs:enumeration value="ATPCO"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Code" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation source="Description" xml:lang="en">A unique code for a product group that may be airline defined or a RFIC (reason for issuance code.)</xs:documentation>
																							<xs:documentation source="Developer Notes" xml:lang="en">ATPCO calls a product group a "Service Code."</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="Description" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation source="Description" xml:lang="en">A description of the group code.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="BrandedFareName" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">A pure fare that sits within a fare family. This is a fare associated with a brand (fare basis code) and at this level does not describe what is included.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="Name" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">The name of the ancillary item.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="ShortDescription" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">A short description of the ancillary item.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="LongDescription" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">A detailed description of the ancillary item.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="CodeSource" use="optional">
																			<xs:annotation>
																				<xs:documentation source="Description" xml:lang="en">The source for service code and sub-code definitions. Note that setting this attribute at this level will override the global CodeSource attribute set at a higher level in the message.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="AirlineInternal"/>
																					<xs:enumeration value="ATPCO"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ServiceCode" type="AncillaryServiceFamilyEnum" use="optional">
																			<xs:annotation>
																				<xs:documentation source="Description" xml:lang="en">The service family type code. Select a pre-defined value from the list, or use the "Other_" value in combination with the @ExtServiceCode.</xs:documentation>
																				<xs:documentation source="Definition" xml:lang="en">(Definition) The Service Type defines which data is being requested flight-related optional services, merchandise, baggage allowance, baggage charges, etc.). </xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="ExtServiceCode" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation source="Description" xml:lang="en">A string value that represents an extended enumerated value for the @ServiceCode. To use this feature, select the "Other_" item from the ServiceCode list.</xs:documentation>
																				<xs:documentation source="Developer Notes" xml:lang="en">NOTE: Any extended enumeration values should be agreed upon between trading partners prior to use.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="Description" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation source="Description" xml:lang="en">A description of the service family.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="MaximumPieces" type="xs:positiveInteger" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The maximum pieces of baggage allowed.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Quantity" type="xs:positiveInteger" use="optional">
																<xs:annotation>
																	<xs:documentation>Number of pieces.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="EMD_TypeValue" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The EMD type value.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="1 - Standalone"/>
																		<xs:enumeration value="2 - Associated to a Flight"/>
																		<xs:enumeration value="3 - Standalone No Flight Ticket Associated"/>
																		<xs:enumeration value="4 - Carrier Directed No EMD"/>
																		<xs:enumeration value="5 - Eticket"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Method" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The allowance method.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="D - Direct Settlement"/>
																		<xs:enumeration value="EA - EMD Associated"/>
																		<xs:enumeration value="ES - EMD Standalone"/>
																		<xs:enumeration value="F - Fare Integrated"/>
																		<xs:enumeration value="MA - Flight Associated Settled via MCO"/>
																		<xs:enumeration value="MA - Standalone Settled via MCO"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ServiceLocation" type="AlphaLength3" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The 3 letter IATA city or airport code related to the service location.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceDate" type="DateOrDateTimeType" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">The date of service.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation source="Description" xml:lang="en">A unique identifier to reference this set of service information.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="AllowanceRPH" type="RPH_Type" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A unique identifier for this baggage allowance information.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ArrivalDateTime" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The arrival date.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DepartureDateTime" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">The departure date.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="OrigDestSequenceRPH" type="RPH_Type" use="optional">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">A unique reference to this O/D pair.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
