org.opentravel/2014A/opentravel-schema/schema/src/main/schema/ota-schema/OTA_TourActivitySearchRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.opentravel.org/OTA/2003/05" 
elementFormDefault="qualified" 
version="4.000" 
id="OTA2014A">

<xs:annotation>
	<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
</xs:annotation>
	<xs:include schemaLocation="OTA_TourActivityCommonTypes.xsd"/>

	<xs:element name="OTA_TourActivitySearchRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message provides tour and/or activities that meet the criteria in the Tour/Activity Search request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Information about the message initiator.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:sequence>
						<xs:element name="Success" type="SuccessType">
							<xs:annotation>
								<xs:documentation xml:lang="en">An element that is not intended to contain any data. The mere presence of a success element within the response message indicates that the incoming request message was processed successfully.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Warnings" type="WarningsType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates that the recipient of the request message identified one or more business-level warnings/errors, but the message itself was successfully processed.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProcessingInformation" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information that may have directly impacted how the receiving system processed the request message.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="MoreDataEchoToken" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The Tour/Activity search response message may return a value in this element if there is additional data available that is not contained in the response message. The text value should be echoed in this request to indicate where to begin the next block of data.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="LanguageCode" type="xs:language" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identification of the language used for any descriptive information.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="DisplayCurrency" type="ISO4217" use="optional">
									<xs:annotation>
										<xs:documentation source="Use" xml:lang="en">The display currency in ISO 4217 encoding.</xs:documentation>
										<xs:documentation source="Reference" xml:lang="en">(Reference): http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
										<xs:documentation source="More Info" xml:lang="en">(More Info): http://www.opentraveldevelopersnetwork.com/2012A_SchemaDoc/DisplayCurrency</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="PricingCurrency" type="ISO4217" use="optional">
									<xs:annotation>
										<xs:documentation source="Use" xml:lang="en">The pricing currency in ISO 4217 encoding.</xs:documentation>
										<xs:documentation source="Example" xml:lang="en">CAD = Canadian Dollar | USD = United States Dollar | EUR = Euro</xs:documentation>
										<xs:documentation source="Reference" xml:lang="en">http://www.opentraveldevelopersnetwork.com/Supported_ISO_Standards.php</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation source="Use" xml:lang="en">The ISO 4217 standard "minor unit" for the number of decimal places for a the display and pricing currency.</xs:documentation>
										<xs:documentation source="Developer Notes" xml:lang="en">The ISO 4217 standard "minor unit" is typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="TourActivityInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A collection of tours and/or activities with an indicator is this is an alternate tour/ activity, e.g. it does not meet the exact search criteria specified. Note that availability is not returned in a search response.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BasicInfo" type="TourActivityID_Type">
										<xs:annotation>
											<xs:documentation xml:lang="en">Core information for the tour/ activity, including ID(s) and names.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Schedule">
										<xs:annotation>
											<xs:documentation xml:lang="en">The tour departure or activity start date/time (and optional duration). Note, detailed schedule information may also be returned.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Summary" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">The start and end date/time and optionally the duration.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:attributeGroup ref="DateTimeSpanGroup"/>
														<xs:attribute name="Description" type="StringLength1to64" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Textual description of the duration (e.g., one day and four hours).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
												<xs:element name="Detail" type="OperationScheduleType" minOccurs="0" maxOccurs="365">
													<xs:annotation>
														<xs:documentation xml:lang="en">Detailed schedule information for up to one year.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Accessibility" type="TourActivityAccessibilityType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Physically challenged accessibility information.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CategoryAndType" type="TourActivityCategoryType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Category and type information that describes the tour/ activity.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Description" type="TourActivityDescriptionType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Descriptive information about the tour/activity.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Discount" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Supported promotion and discount program information.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ProgramDetail" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Details about a supported discount program.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ProviderName" type="CompanyNameType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The company name associated with the discount program.</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="ProgramID" type="RPH_Type" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">A unique ID for this program that may be referenced elsewhere in this message.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Name" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">The name of a discount program, e.g. "Day Pass" or "Gold Card".</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Description" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">A description of the discount program.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
												<xs:element name="Promotion" minOccurs="0" maxOccurs="9">
													<xs:annotation>
														<xs:documentation xml:lang="en">One or more promotion nanes, codes and effective dates that may apply to this tour/ activity.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:string">
																<xs:attribute name="Code" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A promotion code.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="StartDate" type="DateOrDateTimeType" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The starting date for a promotion.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="EndDate" type="DateOrTimeOrDateTimeType" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The ending date for a promotion.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="Disclaimer" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Disclaimer related to a promotion.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Extra" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">Extras (amenities) available and/or required for the tour/ activity.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Deposit" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Deposit information if a deposit is required for the extra.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="AcceptedPaymentsType">
																<xs:sequence>
																	<xs:element name="Amount" type="TourActivityChargeType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">The deposit amount.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="SupplierCode" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The supplier code that uniquely identifies the extra.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="OtherCode" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The trading partner code that uniquely identifies the extra and is associated with the supplier code.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Name" type="StringLength1to64" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The extra amenity name.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Description" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">A description of the extra.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="RequiredInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">If true, this extra is required to participate in the tour/ activity.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="ReserveInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">If true, this extra may be reserved.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Insurance" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation source="Description" xml:lang="en">Insurance options and requirements.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Pricing" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Pricing information for the tour/ activity insurance provided by the supplier or operator.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="TourActivityChargeType">
																<xs:sequence>
																	<xs:element name="PricingType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">The pricing type, e.g. per person and per group. Select a predefined pricing type from the list or select the "Other_" value and enter a pricing type known to your trading partners in the @Extension field.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:simpleContent>
																				<xs:extension base="TourActivityPricingTypeEnum">
																					<xs:attribute name="Extension" type="xs:string" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">A pricing type known to trading partners if the "Other_" value has been selected from the list.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:extension>
																			</xs:simpleContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="ProviderName" type="CompanyNameType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">The name of the insurer provider company.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CoverageLimit" type="CoverageLimitType" minOccurs="0">
													<xs:annotation>
														<xs:documentation source="Description" xml:lang="en">Coverage limitation information for the insurance policy.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="OwnInsuranceInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation source="Use" xml:lang="en">If TRUE, insurance is required for this tour and/or activity and may be provided by the group or individual.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="SupplierInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation source="Use" xml:lang="en">If TRUE, insurance for this tour and/or activity must be purchased from the tour operator or supplier.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="LanguageSpoken" type="TourActivityLanguageType" minOccurs="0" maxOccurs="9">
										<xs:annotation>
											<xs:documentation xml:lang="en">The name of languages (and an optional ISO language code) spoken by the supplier/ operator staff.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Location" type="TourActivityLocationType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The location of the tour/ activity.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PickupDropoff" minOccurs="0" maxOccurs="2">
										<xs:annotation>
											<xs:documentation xml:lang="en">Pickup and/or dropoff information if transportation is provided to the tour/ activity location, including pricing if it applies.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Schedule" type="OperationScheduleType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Pickup and dropoff schedules for the tour/ activity.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Price" type="TourActivityChargeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Guideline pricing for pickup and dropoff services if pricing applies.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="LocationName" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The name of the pickup/ dropoff location.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Directions" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Directions to the pickup/dropoff location.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="PickupInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">If true, this is pickup information.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="DropoffInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">If true, this is dropoff information.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Policies" type="TourActivityPolicyType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Policies associated with the tour/ activity.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Pricing" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Guideline price range. Note, no detailed pricing is returned in this message.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PricingType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">The pricing type, e.g. per person and per group. Select a predefined pricing type from the list or select the "Other_" value and enter a pricing type known to your trading partners in the @Extension field.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="TourActivityPricingTypeEnum">
																<xs:attribute name="Extension" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A pricing type known to trading partners if the "Other_" value has been selected from the list.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="MinPrice" type="Money" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The lowest price for the tour/ activity.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="MaxPrice" type="Money" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The highest price for the tour/ activity.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="TaxInd">
												<xs:annotation>
													<xs:documentation xml:lang="en">If true, additional tax amounts may be imposed.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="GuaranteedInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">If true, a guarantee payment or hold is required.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="SupplierOperator" type="TourActivitySupplierType" minOccurs="0" maxOccurs="2">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides details of the tour supplier and/or operator.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="AlternateInd" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">If true, this is an alternate tour/activity that did not meet all specified search criteria.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:element name="Errors" type="ErrorsType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates that an error occurred in the processing of the incoming request message. An error is defined as a malformed XML message that could not be processed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">This element defines standard attributes that appear on the root element for all OpenTravel Messages.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
</xs:schema>
