org.opentravel/x2014B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_Reviews.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.opentravel.org/OTA/2003/05/common" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.001" id="OTA2013AOTA2013A">
	<xs:annotation>
		<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelContentDescription.xsd"/>
	<xs:include schemaLocation="OTA_Lists.xsd"/>
	<xs:complexType name="TravelerType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about the traveler.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReviewerName" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of the reviewer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReviewerEmail" type="EmailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Reviewer's email.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReviewerAddress" type="AddressesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Address of the reviewer.  The standard AddressType is used to provide flexibility, but typically just city name and country code are used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyMix" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information regarding additional travelers in the party.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Traveler" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information regarding a traveler in the party.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Age" type="Numeric1to999" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The age of the traveler.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AgeBucket" type="StringLength1to16" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Defines the age range category or bucket to which the traveler belongs.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="NumberOfAdults" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The number of adults in the party.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="NumberOfChildren" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The number of children in the party.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TravelType" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the type of travel that the reviewer is describing (e.g. Leisure, Business, etc.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelerType" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the type of traveler (e.g. Single, Group, Couple)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Gender" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Gender of the reviewer.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Male"/>
					<xs:enumeration value="Female"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Age" type="Numeric1to999">
			<xs:annotation>
				<xs:documentation xml:lang="en">Age of the reviewer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgeBucket" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the age range category or bucket to which the reviewer belongs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AnonymousInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, the reviewer prefers to remain anonymous when the review is published.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ResponseGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Question regarding the travel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Response" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Response provided by the reviewer.  In the case of a rating, directly relates to the ResponseValue attribute located in the ResponseTypeDetail element. If the ResponseCategoryName is Text, then this is the text response.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Comments" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Text associated with a question. Allows the reviewer to explain a response.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="QuestionRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the question that this answer applies to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MultimediaDescriptionRPH" type="ListOfRPH" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Reference to one or more multimedia descriptions related to this response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The language in which the response and comments are expressed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AnswerGroupsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Group of questions in a same category.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="ReviewsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of hotel reviews made by travelers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Questions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of questions.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QuestionCategory" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A grouping of questions based on the category of the question.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Categories" type="List_QuestionCategory" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Category of the questions (e.g. Room, Facilities).  The OverallRating enumeration value is used to identify the overall rating for the entire review.  If Other_ is selected from the list, then the category is passed in the Code attribute.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Question" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">A specific question.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="QuestionText" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">A specific question expressed in free form text.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:string">
																<xs:attribute name="LanguageCode" type="xs:language" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Language of the questions.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="Aggregations" type="AggregationType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Aggregation by individual question.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="RPH" type="RPH_Type" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used elsewhere in the message to reference this specific question.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="QuestionID" type="StringLength1to16" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Internal question ID.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="AdditionalQuestionID" type="StringLength1to16" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Internal question ID used in case of multiple choices possible in the question.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="QuestionResponseRPH" type="RPH_Type" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">A reference to the question response type that is valid for this question.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="MainQuestionInd" type="xs:boolean" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">When true, the question is the main question of this category.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Aggregations" type="AggregationType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Aggregations across all questions within each category.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="RPH" type="RPH_Type" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used elsewhere in the message to reference this specific question category.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Aggregations" type="AggregationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Aggregations across all categories and all questions. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuestionResponseTypes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of response types.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QuestionResponseType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A type of response that applies to a question.  </xs:documentation>
								<xs:documentation xml:lang="en">Example:  A question may have rating that are associated to the questions.  1 = Excellent
2= Good
3= Satisfactory
4 = Unsatisfactory</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ResponseTypeDetail" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">Response details.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="ResponseValue" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to identify a numerical value for a rating. May also be used to identify an Internal ID associated with this response for non-rating type responses.   </xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="ResponseValueDescription" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Identifies the meaning of the ResponseValue in textual format (Very Poor, True, etc.)</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Language" type="xs:language" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">The language in which the response detail is being sent.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="ResponseType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Name of the response type (eg. Standard Rating, Text).</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Rating"/>
											<xs:enumeration value="Text"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="RPH" type="RPH_Type" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used elsewhere in the message to reference this question response type. </xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReviewSubject" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Review subject information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Hotel" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Hotel information.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="HotelReferenceGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Review" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Review made by a traveler.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ReviewerInfo" type="TravelerType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Information about the traveler.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ResponseGroups" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">A collection of responses</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="AnswerGroupsType">
													<xs:sequence>
														<xs:element name="ResponseGroup" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation xml:lang="en">A response to a question.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="ResponseGroupType"/>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="CategoryAggregations" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">A collection of category aggregations.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CategoryAggregation" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">The aggregation of all questions for one category in this review.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:attribute name="QuestionCategoryRPH" type="RPH_Type" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">A reference to the QuestionCategory.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="AggregateRating" type="xs:decimal" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">The aggregate rating for the referenced category.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Multimedia information about the hotel</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SupplierResponse" type="ParagraphType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">This is a response to the review provided by the supplier (e.g. hotelier, tour operator, etc.) The element is unbounded to support multiple languages.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="ReviewID" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">ID of the review.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ResponseLanguageCode" type="xs:language" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Language of the response to the questions.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MonthYearOfTravel" type="YearOrYearMonthType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Month and year of travel.  Usually, either MonthYearOfTravel OR the Start and End dates would be used.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="DateTimeSpanGroup"/>
								<xs:attribute name="ReviewDate" type="DateOrDateTimeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Date at which the traveler has made the review.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ReviewerCompany" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Traveler's company.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="TripDuration" type="xs:duration" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Duration of the entire trip.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AggregateRating" type="xs:decimal" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The average rating of all the questions with a response type of rating.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AggregateInfos" type="AggregateInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the Aggregate Information as found in the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OTA_Reviews" type="ReviewsType">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AggregationType">
		<xs:annotation>
			<xs:documentation>Aggregate information regarding reviews.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aggregation" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Aggregations only apply to questions where the response type is a rating.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="TravelerType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifies the type of traveler whose reviews should be included (e.g. Leisure, Business, etc.).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MonthYearOfTravel" type="YearOrYearMonthType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Month and year of travel.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="QuarterOfTravel" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The quarter for which the travel occurred.</xs:documentation>
							<xs:documentation source="Implementer" xml:lang="en">NEED EXAMPLE.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="AggregationRef" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Allows a reference to be assigned by a requestor to be used when matching the responses to the requests.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="AggregateRating" type="xs:decimal" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The aggregate rating for the reviews requested.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RatingCount" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The total number of questions of reponse type rating that were used to calculate the aggregate rating.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ReviewCount" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Total number of reviews used to calculate the aggregate rating.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AggregateInfoType">
		<xs:annotation>
			<xs:documentation>Identifies the aggregation information to be returned in the response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AggregateInfo" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the aggregation information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Level" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifies the level of aggregration to be returned.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Overall"/>
								<xs:enumeration value="Category"/>
								<xs:enumeration value="Question"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="AggregationRef" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Allows a reference to be assigned by a requestor to be used when matching the responses to the requests.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="TravelerTypeInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, the breakdown by TravelerType is required.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DateAggregation" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifies if the breakdown should be returned  by month or quarter of travel.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Month"/>
								<xs:enumeration value="Quarter"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
