org.opentravel/x2012B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_TourActivityCancelRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.opentravel.org/OTA/2003/05" 
elementFormDefault="qualified" 
version="2.000" 
id="OTA2012B">

<xs:annotation>
	<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
</xs:annotation>
<xs:annotation>
    <xs:documentation source="Notice" xml:lang="en">The OTA_CodeType simpleType will be deprecated in the 2013A OpenTravel XML Message Suite publication. All OTA_CodeType typed attributes with be replaced with elements typed as an open list, e.g. List_NameOfList.</xs:documentation>
  </xs:annotation>

	<xs:include schemaLocation="OTA_TourActivityCommonTypes.xsd"/>

	<xs:element name="OTA_TourActivityCancelRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message acknowledges that the tour/ activity cancel message was received and processed successfully and/or has returned business warnings. If processed successfully, one or more Cancellation ID's will be returned with optional cancellation rules information and other details about the canceled reservation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en">An element that is not intended to contain any data. The mere presence of a success element within the response message indicates that the incoming request message was processed successfully.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates that the recipient of the request message identified one or more business-level warnings/errors, but the message itself was successfully processed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Reservation">
						<xs:annotation>
							<xs:documentation xml:lang="en">One reservation that is canceled. Includes cancellation confirmation and optional information about the canceled reservation.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CancelConfirmation" type="CancelInfoRSType">
									<xs:annotation>
										<xs:documentation xml:lang="en">Cancellation ID's, rules and charge information.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ReferenceID" type="UniqueID_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">A reference ID that was returned in the booking confirmation message and uniquely identifies this reservation to the trading partner.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ReservationInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Information about the booked tour and/or activity.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="BasicInfo" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Core information about the booked tour and/or activity, including ID(s) and name.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="TourActivityID_Type"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="ParticipantInfo" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">Individual participant, participant category and group details.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Category" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Information for a participant category.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="QualifierInfo" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">A specific type of age and/or group qualifier, such as "Adult". Select a value from the pre-defined list or select "Other_" and enter a value known between trading partners in the @Extension attribute.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="AgeQualifierType"/>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">The primary contact.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element ref="TPA_Extensions" minOccurs="0"/>
																</xs:sequence>
																<xs:attribute name="Age" type="Numeric0to999" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">This is used to specify a participant age in years.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Used to define the quantity of participants for the specified information.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="ParticipantCategoryID" type="RPH_Type" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A unique identifier for a participant category.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="Group" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Group details.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">The primary contact for the group.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ParticipantList" minOccurs="0" maxOccurs="99">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">A list of individual participants or participant category(s) associated with the group.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:attribute name="ParticipantID" type="RPH_Type" use="optional">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">The unique ID for a participant defined elsewhere in this message.</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																			<xs:attribute name="ParticipantCategoryID" type="RPH_Type" use="optional">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">The unique ID for a participant category defined elsewhere in this message.</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="GroupCode" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A group code that participant(s) are associated with.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="GroupName" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A group name that participant(s) are associated with.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="GroupID" type="RPH_Type" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A unique identifier for a group that may be used elsewhere in this message.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="MinGroupSize" type="xs:positiveInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The minimum quantity of participants in a group.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="MaxGroupSize" type="xs:positiveInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The maximum quantity of participants in a group.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="KnownGroupSize" type="xs:positiveInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The actual quantity of participants in a group.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="Individual" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Name and other information for known participants.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="PersonNameType">
																		<xs:sequence>
																			<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">Contact information.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="ParticipantID" type="RPH_Type" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">A unique identifier for a known participant that may be referenced elsewhere in this message.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="Age" type="Numeric0to999" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">This is used to specify a participant age in years.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="BirthDate" type="xs:date" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="Gender" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Identifies the gender.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Male"/>
																					<xs:enumeration value="Female"/>
																					<xs:enumeration value="Unknown"/>
																					<xs:enumeration value="Male_NoShare"/>
																					<xs:enumeration value="Female_NoShare"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="Nationality" type="ISO3166" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The nationality of a participant, if known. Uses ISO 3166 Country Codes.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="LeadCustomerInd" type="xs:boolean" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">When 'true', indicates that this is the 'lead' participantr (i.e., the primary contact making the booking).</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="InfantInd" type="xs:boolean" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">If true, this participant will have an infant.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="LodgingInfo" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Lodging information for the participant and/or group.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="TourActivityLodgingType">
																		<xs:attributeGroup ref="TourActivityParticipantGroup">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate lodging information with an individual participant, a participant category and/or a group.</xs:documentation>
																			</xs:annotation>
																		</xs:attributeGroup>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="SpecialNeed" minOccurs="0" maxOccurs="5">
															<xs:annotation>
																<xs:documentation xml:lang="en">The name and/or code for a special need requirement, such as a wheelchair or vegetarian meal.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="Code" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">A code known between trading partners for a special needs item.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attributeGroup ref="TourActivityParticipantGroup">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate special need information with an individual participant, a participant category and/or a group.</xs:documentation>
																			</xs:annotation>
																		</xs:attributeGroup>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="FreeChildrenQty" type="Numeric0to99" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">The number of free child places required.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="PaymentInfo" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">Payment details that may be associated with an individual participant, a participant category and/or a group.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="TourActivityChargeType">
															<xs:sequence>
																<xs:element name="Details" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Detailed information for the payment form.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="PaymentFormType">
																				<xs:attribute name="ApprovalCode" type="StringLength1to16" use="optional">
																					<xs:annotation>
																						<xs:documentation xml:lang="en">The approval code returned as part of an authorization process.</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attributeGroup ref="TourActivityParticipantGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate payment information with an individual participant, a participant category and/or a group.</xs:documentation>
																</xs:annotation>
															</xs:attributeGroup>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="Description" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Descriptive information about the tour/activity.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ShortDescription" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">A short description up to 500 characters.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="500"/>
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="URL" type="URL_Type" minOccurs="0" maxOccurs="5">
															<xs:annotation>
																<xs:documentation xml:lang="en">URLs to descriptive information.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="GuideInd" type="xs:boolean" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">If true, guides will be available.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="GuideOverview" type="xs:string" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">A brief description of guide services.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="FreeChildrenQty" type="Numeric0to99" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">The number of free child places that have been secured.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="Discount" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">Promotion code and discount program information that may be associated with an individual participant, a participant category and/or a group.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="TourActivityPromotionType">
															<xs:attributeGroup ref="TourActivityParticipantGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate promotion information with an individual participant, a participant category and/or a group.</xs:documentation>
																</xs:annotation>
															</xs:attributeGroup>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="Location" type="TourActivityLocationType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The tour/ activity location.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Policy" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Policy(s) associated with the tour and/or activity.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="TourActivityPolicyType">
															<xs:attributeGroup ref="TourActivityParticipantGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate extras information with an individual participant, a participant category and/or a group.</xs:documentation>
																</xs:annotation>
															</xs:attributeGroup>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="Pricing" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Pricing information for the tour/ activity that may be broken down by participant category and/or a group.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Summary" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Pricing information for the tour/ activity that is not assciated with participant category(s) and/or group(s).</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="TourActivityChargeType">
																		<xs:sequence>
																			<xs:element name="PricingType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">The pricing type, e.g. per person and per group. Select a predefined pricing type from the list or select the "Other_" value and enter a pricing type known to your trading partners in the @Extension field.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="TourActivityPricingTypeEnum">
																							<xs:attribute name="Extension" type="xs:string" use="optional">
																								<xs:annotation>
																									<xs:documentation xml:lang="en">A pricing type known to trading partners if the "Other_" value has been selected from the list.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="ParticipantCategory" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation xml:lang="en">Pricing for one or more participant category(s).</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="QualifierInfo" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">A specific type of age and/or group qualifier, such as "Adult". Select a value from the pre-defined list or select "Other_" and enter a value known between trading partners in the @Extension attribute.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="AgeQualifierType"/>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Price" type="TourActivityChargeType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Pricing for the specified participant category information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element ref="TPA_Extensions" minOccurs="0"/>
																</xs:sequence>
																<xs:attribute name="Age" type="Numeric0to999" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">This is used to specify a participant age in years.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="Group" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation xml:lang="en">Group pricing.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Price" type="TourActivityChargeType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Pricing for the specified group information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="GroupCode" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A group code that participant(s) are associated with.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="GroupName" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">A group name that participant(s) are associated with.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="MinGroupSize" type="xs:positiveInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The minimum quantity of participants in a group.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="MaxGroupSize" type="xs:positiveInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The maximum quantity of participants in a group.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="KnownGroupSize" type="xs:positiveInteger" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">The actual quantity of participants in a group.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="SupplierOperator" type="TourActivitySupplierType" minOccurs="0" maxOccurs="2">
												<xs:annotation>
													<xs:documentation xml:lang="en">Information about the supplier/ operator of the tour/ activity.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element ref="TPA_Extensions" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates that an error occurred in the processing of the incoming request message. An error is defined as a malformed XML message that could not be processed.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
