org.opentravel/x2012B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_RailShopRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.000" id="OTA2012B">
	<xs:annotation>
		<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
    <xs:documentation source="Notice" xml:lang="en">The OTA_CodeType simpleType will be deprecated in the 2013A OpenTravel XML Message Suite publication. All OTA_CodeType typed attributes with be replaced with elements typed as an open list, e.g. List_NameOfList.</xs:documentation>
  </xs:annotation>
	<xs:include schemaLocation="OTA_RailCommonTypes.xsd"/>
	<xs:element name="OTA_RailShopRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Rail Shop response message contains pricing and availability details for the requested search criteria, including origin/ destination location, accommodations and departure/ return dates and times.

For each specified O/D pair, train options may be specified that include:
- Origin/Destination location code and optional code context
- Journey segment availability detail information, which may be for a train or a bus segment, and includes:
* Specific inventory-controlled service class code or detailed accommodation information
* Class and passenger type fares
* Other service-related information including reservation class, reservation type, different class codes and auto train vehicle type

Pricing details may be specified at the origin/ destination pair and/ or segment level, and include basic fare, alternate currency with exchange rate details, terms and conditions, adjustments, discounts, fees, taxes and ancillary charges.

Developer Notes:
» This message may also include Warnings from business processing rules or Errors if the request did not succeed.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en">An element that is not intended to contain any data. The mere presence of a success element within the response message indicates that the incoming request message was processed successfully.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates that the recipient of the request message identified one or more business-level warnings/errors, but the message itself was successfully processed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginDestinationInformation" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation xml:lang="en">Information on the locations between which availability and pricing was requested. This provides for multiple origin/destination pairs in one request message.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="RailOriginDestinationInformationType">
									<xs:sequence>
										<xs:element name="OriginDestinationOption" maxOccurs="999">
											<xs:annotation>
												<xs:documentation xml:lang="en">A collection of train options for the specified origin-destination pair.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OriginLocation" type="LocationType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">The origin location code and optional code context.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DestinationLocation" type="LocationType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">The destination location code and optional code context.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="JourneySegment" maxOccurs="10">
														<xs:annotation>
															<xs:documentation xml:lang="en">Journey Segment information which may be a train or a bus segment.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="AvailabilityDetail" minOccurs="0" maxOccurs="99">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Specific inventory-controlled service class code or detailed accommodation information, class and passenger type fares, and other service-related information including reservation class, reservation type, different class codes and auto train vehicle type. This information collectively represents one or more specific classes of service, such as "First class" and/or a seat and berth accommodation.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Pricing" type="RailPriceType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">Pricing details for one origin/ destination pair, including basic fare, alternate currency with exchange rate details, terms and conditions, adjustments, discounts, fees, taxes and ancillary charges.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ClassCode" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">The class of inventory controlled services available.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:complexContent>
																						<xs:extension base="ClassCodeType"/>
																					</xs:complexContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Reference" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">A reference code for the available service(s) returned in this message that may be used in a booking message. This is used as a reference number in the booking request so availability service details do not need to be replicated in the booking request message.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Accommodation" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">Type, class and compartment categories of train accommodations.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:complexContent>
																						<xs:extension base="AccommodationType">
																							<xs:attribute name="Quantity" type="xs:positiveInteger" use="optional">
																								<xs:annotation>
																									<xs:documentation xml:lang="en">The quantity.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:extension>
																					</xs:complexContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element ref="AncillaryService" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attribute name="ReservationClass" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Specifies class, such as Coach, Premium and Sleeper.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="ReservationType" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Specifies if the class code is reserved or unreserved.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Reservable"/>
																					<xs:enumeration value="NotReservable"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="VehicleType" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The vehicle type for autotrains, such as a Channel Tunnel, including car, van, motorcycle, etc.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="IsBicycleInd" type="xs:boolean" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">When true, the class code is for a bicycle which many types of trains accommodate.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="AlternativeInd" type="xs:boolean" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">When true, the class code returned is different from the requested class code.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:choice>
																	<xs:element name="TrainSegment" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Train segment information.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="TrainSegmentType">
																					<xs:sequence>
																						<xs:element name="TrainOrigin" type="LocationType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">Represents the start location of this train service.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="TrainDestination" type="LocationType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">Represents the final destination location of this train service.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="RailAmenities" type="RailAmenityType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">A collection of preferred or offered rail amenities, including an amenity code, quantity and/or an associated preference level.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="VendorMessages" type="VendorMessagesType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">A collection of special comments on the segment.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="Remarks" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">A collection of remarks about the segment.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Remark" type="WarningType" maxOccurs="99">
																										<xs:annotation>
																											<xs:documentation xml:lang="en">A remark about the segment.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="OnTimeRate" type="Percentage" use="optional">
																						<xs:annotation>
																							<xs:documentation> Specifies the Dept. of Transport on time rate of the  train.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="AlternativeInd" type="xs:boolean" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">When true, indicates that the priced segment information returned was not the same as requested segment.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="RestrictedServiceInd" type="xs:boolean" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">When true, indicates that this is a restricted service.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="CancelledInd" type="xs:boolean" use="optional">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">When true, indicates that a segment has been cancelled.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:extension>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="BusSegment" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Bus segment information which may be hosted in the rail provider system or a code share.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="BusSegmentType">
																					<xs:sequence>
																						<xs:element name="ClassCodes" maxOccurs="99">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">The class of inventory controlled services available.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:complexContent>
																									<xs:extension base="ClassCodeType">
																										<xs:attribute name="ReservationClass" type="xs:string" use="required">
																											<xs:annotation>
																												<xs:documentation xml:lang="en">Specifies class, such as Coach, Premium and Sleeper.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="ReservationType" type="xs:string" use="required">
																											<xs:annotation>
																												<xs:documentation xml:lang="en">Specifies the type of the reservation.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="VehicleType" type="xs:string" use="optional">
																											<xs:annotation>
																												<xs:documentation xml:lang="en">Specifies the type of the vehicle or bus.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="AlternativeInd" type="xs:boolean" use="optional">
																											<xs:annotation>
																												<xs:documentation xml:lang="en">When true, this is an alternate form of transportation.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																									</xs:extension>
																								</xs:complexContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Remarks" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation xml:lang="en">Remarks about the bus segment.</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Remark" type="WarningType" maxOccurs="99"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:extension>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																</xs:choice>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Pricing" type="RailPriceType" minOccurs="0" maxOccurs="99">
														<xs:annotation>
															<xs:documentation xml:lang="en">Pricing details for one origin/ destination pair, including basic fare, alternate currency with exchange rate details, terms and conditions, adjustments, discounts, fees, taxes and ancillary charges.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Remark" type="WarningType" minOccurs="0" maxOccurs="5">
														<xs:annotation>
															<xs:documentation xml:lang="en">Remarks about the specified origin-destination pair.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="LastHoldDate" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The last date after which the priced journey will be cancelled if not ticketed.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="JourneyDuration" type="xs:duration" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The duration of the journey plus stop over time.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="AlternativeInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">When TRUE, indicates that the returned journey was not the same as the requested journey.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates that an error occurred in the processing of the incoming request message. An error is defined as a malformed XML message that could not be processed.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
