org.opentravel/2011B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_TourActivityBookRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.000" id="OTA2011B">
	<xs:include schemaLocation="OTA_TourActivityCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_TourActivityBookRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">A message to request a reservation for a tour and/or activity.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of sale information for the requestor of the reservation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ContactDetail" type="ContactPersonType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Detailed contact information if a third-party company and/or individual is requesting this reservation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BookingInfo">
					<xs:annotation>
						<xs:documentation xml:lang="en">Information that identifies the tour and/or activity being booked.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BasicInfo">
								<xs:annotation>
									<xs:documentation xml:lang="en">Core information about the tour and/or activity being booked, including ID(s) and name.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityID_Type"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ParticipantInfo" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Individual participant participant category and group details.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Category" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Information for a participant category.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="QualifierInfo" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">A specific type of age and/or group qualifier, such as "Adult". Select a value from the pre-defined list or select "Other_" and enter a value known between trading partners in the @Extension attribute.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="AgeQualifierType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">The primary contact.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="TPA_Extensions" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="Age" type="Numeric0to999" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">This is used to specify a participant age in years.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">Used to define the quantity of participants for the specified information.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ParticipantCategoryID" type="RPH_Type" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A unique identifier for a participant category.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Group" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Group details.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">The primary contact for the group.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ParticipantList" minOccurs="0" maxOccurs="99">
														<xs:annotation>
															<xs:documentation xml:lang="en">A list of individual participants or participant category(s) associated with the group.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ParticipantID" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The unique ID for a participant defined elsewhere in this message.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ParticipantCategoryID" type="RPH_Type" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The unique ID for a participant category defined elsewhere in this message.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="GroupCode" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A group code that participant(s) are associated with.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="GroupName" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A group name that participant(s) are associated with.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="GroupID" type="RPH_Type" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A unique identifier for a group that may be used elsewhere in this message.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="MinGroupSize" type="xs:positiveInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The minimum quantity of participants in a group.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="MaxGroupSize" type="xs:positiveInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The maximum quantity of participants in a group.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="KnownGroupSize" type="xs:positiveInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The actual quantity of participants in a group.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Individual" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Name and other information for known participants.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="PersonNameType">
														<xs:sequence>
															<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Contact information.</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="ParticipantID" type="RPH_Type" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">A unique identifier for a known participant that may be referenced elsewhere in this message.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Age" type="Numeric0to999" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">This is used to specify a participant age in years.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="BirthDate" type="xs:date" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Gender" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Identifies the gender.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:NMTOKEN">
																	<xs:enumeration value="Male"/>
																	<xs:enumeration value="Female"/>
																	<xs:enumeration value="Unknown"/>
																	<xs:enumeration value="Male_NoShare"/>
																	<xs:enumeration value="Female_NoShare"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="Nationality" type="ISO3166" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">The nationality of a participant, if known. Uses ISO 3166 Country Codes.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="LeadCustomerInd" type="xs:boolean" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">When 'true', indicates that this is the 'lead' participantr (i.e., the primary contact making the booking).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="InfantInd" type="xs:boolean" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">If true, this participant will have an infant.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="LodgingInfo" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Lodging information for the participant and/or group.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="TourActivityLodgingType">
														<xs:attributeGroup ref="TourActivityParticipantGroup">
															<xs:annotation>
																<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate lodging information with an individual participant, a participant category and/or a group.</xs:documentation>
															</xs:annotation>
														</xs:attributeGroup>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="FreeChildrenQty" type="Numeric0to99" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The number of free child places required.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentInfo" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Payment details that may be associated with an individual participant, a participant category and/or a group.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityChargeType">
											<xs:sequence>
												<xs:element name="Detail" type="PaymentFormType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Detailed information for the payment form.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attributeGroup ref="TourActivityParticipantGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate payment information with an individual participant, a participant category and/or a group.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Schedule">
								<xs:annotation>
									<xs:documentation xml:lang="en">The departure or tour/activity start date/time.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="DateTimeSpanGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The start date/time, end date/time and optional duration.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="AccessibilityRequirement" minOccurs="0" maxOccurs="999">
								<xs:annotation>
									<xs:documentation xml:lang="en">Physically challenged accessibility preferences. NOT ALL TOUR/ ACTIVITY RESERVATION SYSTEMS CAN GUARANTEE ACCESSIBILITY REQUESTS. Check with your trading partner before implementing this functionality.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityAccessibilityReqType">
											<xs:attribute name="Code" type="xs:string" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">A code known between trading partners for a special needs item.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attributeGroup ref="TourActivityParticipantGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate special need information with an individual participant, a participant category and/or a group.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Discount" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Promotion code and discount program information that may be associated with an individual participant, a participant category and/or a group.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PromotionCode" type="xs:string" minOccurs="0" maxOccurs="9">
											<xs:annotation>
												<xs:documentation xml:lang="en">One or more promotion codes for promotional pricing.

Up to 9 may be specified for each individual participant, participant category and/ or group.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ParticipationInfo" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Participation information, including card number and valid dates.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="ValidFromDate" type="DateOrDateTimeType" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The starting date for a participant or group discount program.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ValidThroughDate" type="DateOrTimeOrDateTimeType" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The ending date for a participant or group discount program.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ProgramNumber" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The card or other number associated with the program. </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="NameOnCard" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The name (individual or corporate) on the discount card.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attributeGroup ref="TourActivityParticipantGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate discount program and promotion information with an individual participant, a participant category and/or a group.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="Extra" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Extra amenities being requested and/or reserved.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Deposit" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Deposit payment information if a deposit is required for the extra.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="PaymentDetailType"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="SupplierCode" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The supplier code that uniquely identifies the extra.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="OtherCode" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The trading partner code that uniquely identifies the extra and is associated with the supplier code.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Name" type="StringLength1to64" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The extra amenity name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Description" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">A description of the extra.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="AdditionalInfo" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Identifies additional information for an extra. E.g. "Large", "Medium" or "Small" frame for a mountain bike.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Quantity" type="xs:positiveInteger" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The quantity of extras being requested.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ReserveInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">If true, a reservation for this this extra is requested.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="TourActivityParticipantGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate extras information with an individual participant, a participant category and/or a group.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="Insurance" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation source="Description" xml:lang="en">Existing insurance information for a participant and/or group.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ProviderName" type="CompanyNameType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">The name of the insurer provider company.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CoverageLimit" type="CoverageLimitType" minOccurs="0">
											<xs:annotation>
												<xs:documentation source="Description" xml:lang="en">Coverage limitations, including deductible and policy limit.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="PlanID" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation source="Use" xml:lang="en">The third-party insurance plan ID.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PlanName" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation source="Use" xml:lang="en">The third-party insurance plan name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="DateTimeSpanGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The starting and ending date and time for the insurance coverage.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
									<xs:attributeGroup ref="TourActivityParticipantGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate insurance information with an individual participant, a participant category and/or a group.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="Location" type="TourActivityLocationType" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">The tour/ activity location being booked.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NegotiatedRate" type="TourActivityNegotiatedPricing" minOccurs="0" maxOccurs="9">
								<xs:annotation>
									<xs:documentation xml:lang="en">Negotiated rate information that may be associated with an individual participant, a participant category and/or a group.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PickupDropoff" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation xml:lang="en">The pickup and/or dropoff information if transportation is provided to/ from the tour/activity location.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TourActivityTransRequestType">
											<xs:sequence>
												<xs:element name="ParticipantList" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">References to individual participants, a participant category and/ or a group.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:attributeGroup ref="TourActivityParticipantGroup">
															<xs:annotation>
																<xs:documentation xml:lang="en">Unique ID(s) assigned elsewhere in the message that associate pickup/ dropoff information with an individual participant, a participant category and/or a group.</xs:documentation>
															</xs:annotation>
														</xs:attributeGroup>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Pricing" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Pricing information for the tour/ activity that may be broken down by participant category and/or a group.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Summary" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Pricing information for the tour/ activity that is not assciated with participant category(s) and/or group(s).</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="TourActivityChargeType">
														<xs:sequence>
															<xs:element name="PricingType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The pricing type, e.g. per person and per group. Select a predefined pricing type from the list or select the "Other_" value and enter a pricing type known to your trading partners in the @Extension field.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="TourActivityPricingTypeEnum">
																			<xs:attribute name="Extension" type="xs:string" use="optional">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">A pricing type known to trading partners if the "Other_" value has been selected from the list.</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="ParticipantCategory" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">Pricing for one or more participant category(s).</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="QualifierInfo" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">A specific type of age and/or group qualifier, such as "Adult". Select a value from the pre-defined list or select "Other_" and enter a value known between trading partners in the @Extension attribute.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="AgeQualifierType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Price" type="TourActivityChargeType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">Pricing for the specified participant category information.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="TPA_Extensions" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="Age" type="Numeric0to999" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">This is used to specify a participant age in years.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Group" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">Group pricing.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Price" type="TourActivityChargeType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">Pricing for the specified group information.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="GroupCode" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A group code that participant(s) are associated with.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="GroupName" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A group name that participant(s) are associated with.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="MinGroupSize" type="xs:positiveInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The minimum quantity of participants in a group.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="MaxGroupSize" type="xs:positiveInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The maximum quantity of participants in a group.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="KnownGroupSize" type="xs:positiveInteger" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The actual quantity of participants in a group.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SupplierOperator" type="TourActivitySupplierType" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation xml:lang="en">Information about the supplier/ operator of the tour/ activity.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="TPA_Extensions" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="TPA_Extensions" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
