org.opentravel/2011B/opentravel-schema/schema/src/main/schema/ota-schema/OTA_GroundCommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.001" id="OTA2011AOTA2011B">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="GroundServiceProvided">
		<xs:annotation>
			<xs:documentation xml:lang="en">A defined ground service type, including airport transfer, hourly and simple transfer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AirportTransfer"/>
			<xs:enumeration value="Hourly"/>
			<xs:enumeration value="SimpleTransfer"/>
			<xs:enumeration value="Mileage"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GroundAirportType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An airport definition for a ground service.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="AirportLocationGroup"/>
		<xs:attribute name="AirportName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The name of the airport.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GroundFeesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Fees that are applied in addition to the Ground Transportation Service charges for this reservation. 

NOTE: Non-base charges, such as the basic price of the service are typically specified in the ServiceCharges element, while additional fees, such as gratuity, are specified here.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fee" type="VehicleChargePurposeType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundServiceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Service and vehicle information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Languages" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of language details pertaining to the service.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" maxOccurs="10">
							<xs:annotation>
								<xs:documentation xml:lang="en">Language details pertaining to the service.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Language" type="xs:language" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Language spoken by the driver or the guide.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="PrimaryLangInd" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">If TRUE, this is the primary language spoken by the driver or the guide.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ChildCarSeatInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, a child car seat is required or requested.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PetFriendlyInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, a vehicle is being requested and/or is available that allows domestic pets.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FuelEfficientVehInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, the vehicle is fuel efficient.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaximumPassengers" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The maximum quantity of passengers this vehicle can accommodate. NOTE: This figure is based on the quantity of seat belts in the vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaximumBaggage" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The (recommended) maximum baggage that can be stored in the vehicles trunk.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GreetingSignInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, a greeting sign is requested.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GreetingSignName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The name to be on the greeting sign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetAndGreetInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, complementary meet and greet services are requested and/or provided..</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PersonalGreeterInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, personal meet and greet is requested (that may incur an additional charge) or available.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GuideInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, guide services are requested and/or provided for local area knowledge and information.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ShortDescription">
			<xs:annotation>
				<xs:documentation xml:lang="en">A short description of the service type and vehicle (up to 250 characters.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Notes" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Other notes related to the ground service, such as "Driver will meet you in baggage claim."</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MultilingualInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, specific languages are requested and/or provided.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GroundServiceDetailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Passenger preferences requested and/or required for a ground transportation service, including service type, disability vehicle and other vehicle preferences.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GroundServiceType">
				<xs:attribute name="ServiceType" type="GroundServiceProvided" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The available service type, such as Airport Transfer, Hourly and Simple Transfer.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="VehicleType" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The type of available vehicle. Refer to the OpenTravel Vehicle Category (VEC) code list.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="DisabilityVehicleInd" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">If TRUE, this vehicle is disability compatible.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="VehicleSize" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The size of the vehicle. Refer to OpenTravel Size (SIZ) code list.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ServiceLevel" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The level of service, such as deluxe and VIP. Refer to OpenTravel Level of Service (LOS) code list.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroundLocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Pickup, interim stops and drop-off details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The physical address of the pickup, stop or dropoff.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AddressInfoType">
							<xs:sequence>
								<xs:element name="Name" type="StringLength1to128" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">The name of the location, which may be a hotel or airport name.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="SpecialInstructions" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Special instructions regarding the pickup, stop or drop off.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="StringLength1to255"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Directions" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Textual directions regarding the pickup, stop or drop off.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="StringLength1to255">
											<xs:minLength value="1"/>
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="PositionGroup"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AirportInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Airport details for the pickup or dropoff, including terminal and gate.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Arrival" type="GroundAirportType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Arrival airport information.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Departure" type="GroundAirportType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Departure airport information.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Airline" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Airport pickup, stop and dropoff details, including flight number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="OperatingAirlineType">
							<xs:attribute name="FlightDateTime" type="DateOrDateTimeType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The flight departure and/or arrival time and date.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DateTime" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date and time of the pickup, stop or dropoff.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GroundLocationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of pickup, interim stops and drop-off details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pickup" type="GroundLocationType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pickup details, including date and time, address, airport and airline information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stops" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Stop information, including address, airport and airline details.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Stop" maxOccurs="99">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="GroundLocationType">
										<xs:attribute name="Sequence" type="xs:positiveInteger" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A sequence number for the stop.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Dropoff" type="GroundLocationType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Drop off information, including address, airport and airline details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundPassengerInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Passenger information that may determine the class of vehicle required.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="MaximumPassengers" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The maximum quantity of passengers requiring ground service.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaximumBaggage" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The maximum baggage for all passengers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChildCarSeatInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If TRUE, a child car seat is required or requested.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GroundPrimaryAdditionalPassengerType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information on the one primary passenger and, optionally, several additional passengers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Primary">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information on the primary passenger (who is the contact for this reservation.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContactPersonType">
							<xs:sequence>
								<xs:element name="CustomerID" type="UniqueID_Type" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">The identification of the customer for whom a booking is being requested. This is different from the customer's loyalty number.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Additional" minOccurs="0" maxOccurs="999">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information on additional passengers. This may also be used to pass an event manifest, e.g. a list of passengers that will have vehicles allocated by the supplier.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContactPersonType">
							<xs:attributeGroup ref="DateTimeSpanGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the dates for how long the additional driver should be part of the rental contract.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="CorpDiscountName" type="StringLength1to64" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This is the name of the organization associated with the corporate discount number.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="CorpDiscountNmbr" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This is the code used to identify if the additional driver is eligible for benefits associated with a specific organization.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="QualificationMethod" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Used as a qualification for an additional driver.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="RT_AirlineTicket">
											<xs:annotation>
												<xs:documentation xml:lang="en">Round trip airline ticket</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="CreditCard">
											<xs:annotation>
												<xs:documentation xml:lang="en">If needed, the credit card details should be passed in PaymentForm/PaymentCard.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="PassportAndReturnTkt">
											<xs:annotation>
												<xs:documentation xml:lang="en">Passport and return airline ticket</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attributeGroup ref="TravelerCountGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">Used to define the specific type of additional person (Adult, YoungDriver, YoungerDriver, or it may be a code that is acceptable to both Trading Partners)</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundRateQualifierType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Rate qualifier and promotions that apply to a ground transportation service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpecialInputs" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Account specific additional information required to complete a booking (if the corporate account is being used). Up to five key value pair fields to be sent with the booking request if the requestor is using one of the corporate accounts requiring such information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">The name of the special input.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Value" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">The value of the special input.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AccountID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The customer account ID if applicable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AccountName" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The customer account name if applicable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelPurpose" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Why the customer is traveling, select a value from the list.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Business"/>
					<xs:enumeration value="Pleasure"/>
					<xs:enumeration value="BusinessAndPleasure"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RateCategory" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The rate category associated with the service. Refer to OpenTravel Rate Category (RTC) code list. 

NOTE: It is not recommended to use this field for published rates.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RateQualifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the vendor specific code for rate codes (e.g. WES, 2A, DLY00).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CorpDiscountNmbr" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The vendor specific code used to identify a special rate associated with a specific organization.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionVendorCode" type="ListOfStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">List of the vendor codes associated with a promotion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A promotion code used by the host to link directly with a specific named advertising campaign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GroundReservationSummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Summary information about one or more ground service reservations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Confirmation" type="UniqueID_Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">A confirmation number for the sucessfully booked ground transportation service reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="ContactPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the primary contact associated with this reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locations" type="GroundLocationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the locations associated with the reservation, including pickup, interim stop(s) and drop-off details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceType" type="GroundServiceDetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The type of service available.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="FreeTextType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Any special comments associated with this ground service reservation, such as "Driver will greet passenger in baggage area with sign."</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundReservationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Detailed information specific to a ground service reservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Confirmation" type="UniqueID_Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">A confirmation number for the sucessfully booked ground transportation service reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Passengers" type="GroundPrimaryAdditionalPassengerType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about a primary passenger (who is the contact for this reservation) and additional passengers associated with the reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locations" type="GroundLocationsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the locations associated with the reservation, including pickup, interim stop(s) and drop-off details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceType" type="GroundServiceDetailType">
				<xs:annotation>
					<xs:documentation xml:lang="en">The type of service available.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleMakeModel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Vehicle make and model information associated with this reservation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="VehicleMakeModelGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RateQualifier" type="GroundRateQualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rate qualifying information associated with this vehicle/ ground transportation service reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceCharges" type="GroundServiceChargesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Charges that apply to this vehicle/ ground transportation service for this reservation. 

NOTE: Non-base charges, such as gratuity, are typically specified in the Fees element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fees" type="GroundFeesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fees that are applied in addition to the Ground Transportation Service charges for this reservation. 

NOTE: Non-base charges, such as the basic price of the service are typically specified in the ServiceCharges element, while additional fees, such as gratuity, are specified here.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCharge" type="GroundTotalChargeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The estimated total charge for the services associated with this reservation.

NOTE: This element typically contains the total of both ServiceCharges and Fees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Restrictions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Restrictions that apply to this vehicle/ ground transportation service reservation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdvanceBooking" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates whether or not advance booking is required for this rate and if so, what the advance booking requirements are.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="DeadlineGroup"/>
								<xs:attribute name="RequiredInd" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">If true, advanced booking is required for this rate.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="AdvancedBookingInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, this rate requires advanced booking.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CorporateRateInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, this is a negotiated corporate rate.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GuaranteeReqInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, a guarantee is required.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CancellationPenaltyInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true indicates a fee applies if a cancellation is requested.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ModificationPenaltyInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true indicates a fee applies if a modification is requested.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Payments" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of payments associated with this ground transportation reservation request. NOTE: It is a best practice to ONLY return a masked credit card number in the response.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Payment" type="PaymentFormType" maxOccurs="99"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentRules" type="PaymentRulesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of payment rules associated with this ground transportation reservation. 

NOTE: This instance of PaymentRules is typically used if there are payment rules that are applicable to a specific vehicle or ground service type. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="FreeTextType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Any special comments associated with this ground service reservation, such as "Driver will greet passenger in baggage area with sign."</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RebateInfo" type="RebateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="description" xml:lang="en">Information about a suppliers participation in a rebate program, e.g. a VAT (value added tax) program.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundReservationRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A unique reservation ID and/or search criteria used to return existing reservation details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Confirmation" type="UniqueID_Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">A confirmation number for the sucessfully booked ground transportation service reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Passengers" type="GroundPrimaryAdditionalPassengerType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about a primary passenger (who is the contact for this reservation) and additional passengers associated with the reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locations" type="GroundLocationsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the locations associated with the reservation, including pickup, interim stop(s) and drop-off details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleMakeModel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Vehicle make and model information associated with this reservation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="VehicleMakeModelGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RateQualifier" type="GroundRateQualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rate qualifying information associated with this vehicle/ ground transportation service reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceCharges" type="GroundServiceChargesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Charges that apply to this vehicle/ ground transportation service for this reservation. 

NOTE: Non-base charges, such as gratuity, are typically specified in the Fees element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fees" type="GroundFeesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fees that are applied in addition to the Ground Transportation Service charges for this reservation. 

NOTE: Non-base charges, such as the basic price of the service are typically specified in the ServiceCharges element, while additional fees, such as gratuity, are specified here.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCharge" type="GroundTotalChargeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The estimated total charge for the services associated with this reservation.

NOTE: This element typically contains the total of both ServiceCharges and Fees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Restrictions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Restrictions that apply to this vehicle/ ground transportation service reservation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdvanceBooking" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates whether or not advance booking is required for this rate and if so, what the advance booking requirements are.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="DeadlineGroup"/>
								<xs:attribute name="RequiredInd" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">If true, advanced booking is required for this rate.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="AdvancedBookingInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, this rate requires advanced booking.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CorporateRateInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, this is a negotiated corporate rate.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GuaranteeReqInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, a guarantee is required.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CancellationPenaltyInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true indicates a fee applies if a cancellation is requested.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ModificationPenaltyInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true indicates a fee applies if a modification is requested.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentRules" type="PaymentRulesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of payment rules associated with this ground transportation reservation. 

NOTE: This instance of PaymentRules is typically used if there are payment rules that are applicable to a specific vehicle or ground service type. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="FreeTextType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Any special comments associated with this ground service reservation, such as "Driver will greet passenger in baggage area with sign."</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundServiceChargesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Charge details related to a vehicle/ ground transportation service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceCharge" type="VehicleChargePurposeType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundTotalChargeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The estimated total charge for the services associated with this reservation. NOTE: This element typically contains the total of both ServiceCharges and Fees.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="VehicleTotalChargeGroup"/>
	</xs:complexType>
</xs:schema>
